{{extend 'layout.html'}}
<script>$=jQuery</script>
<link rel="stylesheet" type="text/css" href="{{=URL(r=request,c='static',f='css/jqueryMultiSelect.css')}}" />
<script src="{{=URL(r=request,c='static',f='js/jqueryMultiSelect.js')}}"></script>
<script>
function callback() {
  $.get('{{=URL(r=request,f='callback')}}','',function(data,status){ if(data!='<done/>') { $('#target').html($('#target').html()+data); callback(); } });
}
$(document).ready(function() {
   $('#no_table_applications').multiSelect({selectAll: false});
   callback();
});
</script>

<h2>{{=T("Google App Engine Deployment Interface")}}</h2>

<p class="help">{{=T("This page can upload your application to the Google App Engine computing cloud. Mind that you must first create indexes locally and this is done by installing the Google appserver and running the app locally with it once, or there will be errors when selecting records. Attention: deployment may take long time, depending on the network speed. Attention: it will overwrite your app.yaml. DO NOT SUBMIT TWICE.")}}</p>

{{if command:}}
<h3>Command</h3>
<button onclick="$.get('{{=URL(r=request,f='kill')}}');">kill process</button>
{{=CODE(command)}}
<h3>{{=T("GAE Output")}}</h3>
<pre id="target"></pre>
{{else:}}
<h3>{{=T("Deployment form")}}</h3>
<div class="deploy_form form">
{{=form}}
</div>
{{pass}}

