[package]
name = "ntex"
version = "0.2.0"
edition = "2018"

[[bin]]
name = "ntex"
path = "src/main.rs"

[[bin]]
name = "ntex-db"
path = "src/main_db.rs"

[[bin]]
name = "ntex-raw"
path = "src/main_raw.rs"

[dependencies]
ntex = "0.3.15"
mimalloc = { version = "0.1.25", default-features = false }
snmalloc-rs = { version = "0.2.26", features = ["1mib", "native-cpu"] }
yarte = { version = "0.15", features = ["bytes-buf", "json"] }
env_logger = "0.8"
nanorand = { version = "0.5", default-features = false, features = ["std", "wyrand"] }
bytes = "1.0"
atoi = "0.4.0"
num_cpus = "1.13"
futures = "0.3.13"
http = "0.2"
smallvec = "1.6.1"
simd-json = "0.3.24"
simd-json-derive = "0.1.15"
serde = { version = "1.0", features = ["derive"] }
log = { version = "0.4", features = ["release_max_level_off"] }
tokio = "1"
tokio-postgres = { git="https://github.com/fafhrd91/postgres.git" }

[profile.release]
lto = true
opt-level = 3
codegen-units = 1
