<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.datasource">java:comp/env/jdbc/hello_world</property>

        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
 
        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">false</property>
        <property name="hibernate.cache.use_query_cache">false</property>
        <property name="hibernate.current_session_context_class">thread</property>

        <!-- batch the updates for /updates
          World object is small so we can batch many
         -->
        <property name="hibernate.jdbc.batch_size">500</property>

        <mapping class="hellowicket.World" />
        <mapping class="hellowicket.fortune.Fortune"/>
    </session-factory>
</hibernate-configuration>
