<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="1.12.1" targetFramework="net45" />
  <package id="MySql.Data" version="6.6.5" targetFramework="net45" />
  <package id="Nancy" version="0.17.1" targetFramework="net45" />
  <package id="Nancy.Hosting.Aspnet" version="0.17.1" targetFramework="net45" />
</packages>