<application scope="session">
	<welcome path="welcome.html" id="p1" />
	<page path="index1.html" id="p2" />
	<page path="index2.html" id="p3" onsuccess="p2" onfail="p1" />
	<page path="index3.html" id="p4" who="USER" where="FILE:users" />
	<rule id="r1" ajax="false" currpage="p4" topage="p3" oncheckfail="p1"
		stateof="" shouldbe="">
		<execute call="Testing.test4" rettype="Test" retname="test">
			<string>Welcome!!</string>
		</execute>
	</rule>
</application>
