<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>

    <logger name="io.netty.util.internal.PlatformDependent" level="debug"/>
    <logger name="io.netty.buffer.PooledByteBufAllocator" level="debug"/>
    <logger name="io.netty.buffer.AdaptiveByteBufAllocator" level="debug"/>
</configuration>