<!--
 | Logback configuration for tests
 |
 | All output is ignored by default, to enable logs change root logger level.
 !-->
<configuration>
  <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <Pattern>%d{HH:mm:ss.SSS} %highlight(%-5p) %magenta([%-18.18t]) %-30c{30} | %m%n</Pattern>
    </encoder>
  </appender>

  <root level="off">
    <appender-ref ref="console" />
  </root>

  <logger name="com.hexagonkt" level="trace" />
  <logger name="BENCHMARK_LOGGER" level="trace" />
</configuration>
