<web-app>
    <env-entry>
        <env-entry-name>revenj.jdbcUrl</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>jdbc:postgresql://localhost:5432/hello_world?user=benchmarkdbuser&amp;password=benchmarkdbpass</env-entry-value>
    </env-entry>
	<servlet>
		<servlet-name>json</servlet-name>
		<servlet-class>hello.JsonServlet</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>json</servlet-name>
		<url-pattern>/json</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>plaintext</servlet-name>
		<servlet-class>hello.PlaintextServlet</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>plaintext</servlet-name>
		<url-pattern>/plaintext</url-pattern>
	</servlet-mapping>
    <servlet>
        <servlet-name>db</servlet-name>
        <servlet-class>hello.DbServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>db</servlet-name>
        <url-pattern>/db</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>queries</servlet-name>
        <servlet-class>hello.QueriesServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>queries</servlet-name>
        <url-pattern>/queries</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>updates</servlet-name>
        <servlet-class>hello.UpdatesServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>updates</servlet-name>
        <url-pattern>/updates</url-pattern>
    </servlet-mapping>
</web-app>
