<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.2.0" targetFramework="net47" />
  <package id="EntityFramework6.Npgsql" version="3.1.1" targetFramework="net47" />
  <package id="Google.Protobuf" version="3.5.1" targetFramework="net47" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.6" targetFramework="net47" />
  <package id="Microsoft.AspNet.Razor" version="3.2.6" targetFramework="net47" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.6" targetFramework="net47" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net47" />
  <package id="MSBuild.Microsoft.VisualStudio.Web.targets" version="14.0.0.3" targetFramework="net47" />
  <package id="MySql.Data" version="8.0.11" targetFramework="net47" />
  <package id="MySql.Data.Entity" version="7.0.7-m61" targetFramework="net47" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net47" />
  <package id="Npgsql" version="4.0.0-rc1" targetFramework="net47" />
  <package id="ServiceStack.Text" version="5.1.0" targetFramework="net47" />
  <package id="System.Buffers" version="4.5.0-rc1" targetFramework="net47" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.0-rc1" targetFramework="net47" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net47" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.0-rc1" targetFramework="net47" />
  <package id="System.ValueTuple" version="4.5.0-rc1" targetFramework="net47" />
</packages>