<!DOCTYPE html>

<html>
    <head>
        <title>Application error</title>
        <meta http-equiv="Content-Type" content="text/html; charset=${_response_encoding}"/>	
    </head>
    <body>
        #{if play.mode.name() == 'DEV'}
            #{500 exception /}
        #{/if}
        #{else}
            <h1>Oops, an error occured</h1>
            #{if exception instanceof play.exceptions.PlayException}
                <p>
                    This exception has been logged with id <strong>${exception.id}</strong>.
                </p>
            #{/if}
        #{/else}
    </body>
</html>
