.DS_Store
*.pyc
installs/
*.log
*.lock
node_modules/
*.war
target/
*.out
*.class
mods/
/.settings
/.buildpath
/.project
*.iml
.idea/
.hsenv/
azure.err
php-kohana/application/logs/
php-fuel/fuel/app/logs/
