.DS_Store
installs
*.log
node_modules/
.travis.bak

# Added for pedestal framework test
.lein-deps-sum

# eclipse
**/.classpath
**/.project
**/.settings

# maven
target/
*.out
*.class
mods/
/.settings
/.buildpath
/.project
*/src/main/java/META-INF/
*.versionsBackup
bin/

# common junk
*.log
*.swp
*.diff
*.patch
*/bin/

# intellij
*.iml
*.ipr
*.iws
.idea/
.hsenv/
azure.err
php-kohana/application/logs/
php-fuel/fuel/app/logs/
results/
benchmark.cfg

# Mac filesystem dust
.DS_Store

# pmd
.pmdruleset
.pmd

# netbeans
/nbproject

# Visual Studio Code
.vscode

# vim
.*.sw[a-p]

# merge tooling
*.orig

# maven
*.versionsBackup
*.releaseBackup

# python-isms
*.pyc

# java / ruby stuff
*.lock
*.war

# go
go/pkg/*
beego/pkg/*

# urweb
frameworks/Ur/urweb/*.exe

# nim
nimcache

# crystal
.crystal
*.out

#don't ignore merge request templates
!.github/
dependency-reduced-pom.xml

# dart
.dart_tool/
*.packages
pubspec.lock

# Gradle
.gradle/
build/

# haskell
.stack-work

# Elixir
_build/
deps/
frameworks/PHP/ubiquity/.buildpath

# swift
Package.resolved
.swiftpm
DerivedData
.build
