Adam Chlipala <adam@chlipala.net> <adamc@csail.mit.edu>

Alex Schneider <aschneider@techempower.com> <aschneider@techempower> Alexander Schneider
Alex Schneider <aschneider@techempower.com> Alexander Schneider <aschneider@techempower.com>

Aoyama Kazuharu <a.kazuharu@gmail.com> AOYAMA Kazuharu <a.kazuharu@gmail.com> 
Aoyama Kazuharu <a.kazuharu@gmail.com> AOYAMA Kazuharu <aoyama@ideeinc.co.jp>

Brian Clozel <bclozel@pivotal.io> Brian Clozel <bclozel@gopivotal.com> 

Christian Knuth <ikkez0n3@gmail.com> <c.knuth@Christian-Knuth-2.local>

Donovan Muller <donovan.muller@gmail.com> donovanmuller <donovan.muller@gmail.com>

Eduardo Silva <edsiper@gmail.com> <eduardo@monkey.io>

Finn Bock <bock.finn@gmail.com> bckfnn <bock.finn@gmail.com>

Gerard Roche <bullfrogblues@live.com> <gerardroche@users.noreply.github.com>

Gjero Krsteski <gjero@krsteski.de> gjerokrsteski <gjero@krsteski.de> 
Gjero Krsteski <gjero@krsteski.de> g.krsteski <g.krsteski@controlexpert.com>

Haley Young <hyoung4@lion.lmu.edu> haleyyoung <haleyyoung88@gmail.com>
Haley Young <hyoung4@lion.lmu.edu> haleyyoung <hyoung4@lion.lmu.edu>

INADA Naoki <inada-n@klab.com> <methane@users.noreply.github.com> 
INADA Naoki <inada-n@klab.com> <songofacandy@gmail.com>

James Yen <jyen@techempower.com> jyentechempower <jyen@techempower.com>

Juan José Aguililla <juanjoaguililla@gmail.com> jamming <juanjoaguililla@gmail.com>

Karol Buček <self@kares.org> kares <self@kares.org> 

Lari Hotari <lhotari@pivotal.io> Lari Hotari <lari.hotari@sagire.fi>
Lari Hotari <lhotari@pivotal.io> Lari Hotari <lhotari@gopivotal.com>

Leandro Pereira <leandro@hardinfo.org> <leandro@tia.mat.br>

Luis Neves <luis.neves@gmail.com> Luis Filipe dos Santos Neves <luis.neves@co.sapo.pt>
Luis Neves <luis.neves@gmail.com> luis.neves <luis.neves@co.sapo.pt>

Luiz Mineo <luiz.mineo@gmail.com> <luiz.mineo@redfox.inf.br>

Marko Asplund <marko.asplund@gmail.com> marko asplund <marko.asplund@gmail.com>
Marko Asplund <marko.asplund@gmail.com> marko asplund <marko.asplund@ixonos.com>

Matic Žgur <matic.zgur@zemanta.com> <mr.zgur@gmail.com>

mcocciaTE <mcoccia@techempower.com> mcoccia <mcoccia@techempower.com>

Mike Smith <msmith@techempower.com> Mike Smith <msmith@techempower.com>
Mike Smith <msmith@techempower.com> msmith-techempower <msmith@techempower.com>
Mike Smith <msmith@techempower.com> msmith <msmith@techempower.com>

Raphael Andre Bauer <raphael.andre.bauer@gmail.com> reyez <raphael.andre.bauer@gmail.com>

Radoslav Petrov <rado@edno.moe> zloster <rado@edno.moe>

Stefan Geneshky <stefanguen@gmail.com> Stefan G <stefanguen@gmail.com>

Stefano Casazza <stefano.casazza@gmail.com> stefanocasazza <stefano.casazza@gmail.com>
Stefano Casazza <stefano.casazza@gmail.com> stefanocasazza <stefanocasazza@gmail.com>
Stefano Casazza <stefano.casazza@gmail.com> stefano casazza <stefanocasazza@users.noreply.github.com>

Shengjun Yu <apieceofredcloth@gmail.com> shengjun yu <apieceofredcloth@users.noreply.github.com>
Shengjun Yu <apieceofredcloth@gmail.com> yushengjun <apieceofredcloth@gmail.com>

Skamander <sam@sksamuel.com> sksamuel <sam@sksamuel.com>

Tim Fox <timvolpe@gmail.com> purplefox <timvolpe@gmail.com>

