Adam Chlipala <adam@chlipala.net> <adamc@csail.mit.edu>

Alex Schneider <aschneider@techempower.com> <aschneider@techempower> Alexander Schneider
Alex Schneider <aschneider@techempower.com> Alexander Schneider <aschneider@techempower.com>

Christian Knuth <ikkez0n3@gmail.com> <c.knuth@Christian-Knuth-2.local>

Donovan Muller <donovan.muller@gmail.com> donovanmuller <donovan.muller@gmail.com>

Eduardo Silva <edsiper@gmail.com> <eduardo@monkey.io>

Gerard Roche <bullfrogblues@live.com> <gerardroche@users.noreply.github.com>

Gjero Krsteski <gjero@krsteski.de> gjerokrsteski <gjero@krsteski.de> 
Gjero Krsteski <gjero@krsteski.de> g.krsteski <g.krsteski@controlexpert.com>

INADA Naoki <inada-n@klab.com> <methane@users.noreply.github.com> 
INADA Naoki <inada-n@klab.com> <songofacandy@gmail.com>

James Yen <jyen@techempower.com> jyentechempower <jyen@techempower.com>

Karol Buček <self@kares.org> kares <self@kares.org> 

Lari Hotari <lari.hotari@sagire.fi> <lhotari@gopivotal.com>

Leandro Pereira <leandro@hardinfo.org> <leandro@tia.mat.br>

Luis Neves <luis.neves@gmail.com> Luis Filipe dos Santos Neves <luis.neves@co.sapo.pt>
Luis Neves <luis.neves@gmail.com> luis.neves <luis.neves@co.sapo.pt>

Luiz Mineo <luiz.mineo@gmail.com> <luiz.mineo@redfox.inf.br>

Marko Asplund <marko.asplund@gmail.com> marko asplund <marko.asplund@gmail.com>
Marko Asplund <marko.asplund@gmail.com> marko asplund <marko.asplund@ixonos.com>

Matic Žgur <matic.zgur@zemanta.com> <mr.zgur@gmail.com>

mcocciaTE <mcoccia@techempower.com> mcoccia <mcoccia@techempower.com>

Raphael Andre Bauer <raphael.andre.bauer@gmail.com> reyez <raphael.andre.bauer@gmail.com>

Stefan Geneshky <stefanguen@gmail.com> Stefan G <stefanguen@gmail.com>

Stefano Casazza <stefano.casazza@gmail.com> stefanocasazza <stefano.casazza@gmail.com>

Skamander <sam@sksamuel.com> sksamuel <sam@sksamuel.com>

Tim Fox <timvolpe@gmail.com> purplefox <timvolpe@gmail.com>

