sudo: required
language: python
python:
  - "2.7"

env:
  matrix:

    # Group tests by directory to logically break up travis-CI build. Otherwise
    # we end up starting ~200+ different workers. Seems that ~100 is the limit
    # before their website starts to lag heavily
    #
    # Here's the bash if you need to update this. Be sure to maintain the
    # lines that are currently commented out (these cannot run in Travis)
    #   cd frameworks
    #   find . -type d -depth 2 | sed 's|./|    - "TESTDIR=|' | sed 's/$/"/g'
    #
    #
    - "TESTDIR=C/lwan"
    - "TESTDIR=C/duda"
    - "TESTDIR=C/haywire"
    - "TESTDIR=C/onion"
    - "TESTDIR=CSharp/aspnet"
    # - "TESTDIR=CSharp/aspnet-stripped"
    - "TESTDIR=CSharp/evhttp-sharp"
    # - "TESTDIR=CSharp/HttpListener"
    - "TESTDIR=CSharp/nancy"
    - "TESTDIR=CSharp/servicestack"
    - "TESTDIR=C++/cpoll_cppsp"
    - "TESTDIR=C++/silicon"
    - "TESTDIR=C++/treefrog"
    - "TESTDIR=C++/ulib"
    - "TESTDIR=C++/wt"
    - "TESTDIR=Clojure/compojure"
    - "TESTDIR=Clojure/http-kit"
    - "TESTDIR=Clojure/luminus"
    - "TESTDIR=Clojure/pedestal"
    - "TESTDIR=Clojure/aleph"
    - "TESTDIR=Crystal/crystal-raw"
    - "TESTDIR=Crystal/moonshine"
    - "TESTDIR=D/vibed"
    - "TESTDIR=Dart/dart-raw"
    - "TESTDIR=Dart/redstone"
    - "TESTDIR=Dart/start"
    - "TESTDIR=Dart/stream"
    - "TESTDIR=Elixir/phoenix"
    - "TESTDIR=Elixir/cowboy"
    - "TESTDIR=Erlang/cowboy"
    - "TESTDIR=Erlang/elli"
    - "TESTDIR=Go/beego"
    - "TESTDIR=Go/falcore"
    - "TESTDIR=Go/gin"
    - "TESTDIR=Go/go-raw"
    - "TESTDIR=Go/goji"
    - "TESTDIR=Go/go-raw-mongodb"
    - "TESTDIR=Go/revel"
    - "TESTDIR=Go/revel-jet"
    - "TESTDIR=Go/revel-qbs"
    - "TESTDIR=Go/webgo"
    - "TESTDIR=Groovy/grails"
    - "TESTDIR=Haskell/snap"
    - "TESTDIR=Haskell/wai"
    - "TESTDIR=Haskell/yesod"
    - "TESTDIR=Java/activeweb"
    - "TESTDIR=Java/curacao"
    - "TESTDIR=Java/dropwizard"
    - "TESTDIR=Java/gemini"
    - "TESTDIR=Java/grizzly-bm"
    - "TESTDIR=Java/grizzly-jersey"
    - "TESTDIR=Java/jawn"
    - "TESTDIR=Java/jetty-servlet"
    - "TESTDIR=Java/jetty"
    - "TESTDIR=Java/mangooio"
    - "TESTDIR=Java/netty"
    - "TESTDIR=Java/ninja-standalone"
    - "TESTDIR=Java/play1"
    - "TESTDIR=Java/play1siena"
    - "TESTDIR=Java/play2-java"
    - "TESTDIR=Java/rapidoid"
    - "TESTDIR=Java/restexpress"
    - "TESTDIR=Java/servlet"
    - "TESTDIR=Java/servlet3-cass"
    - "TESTDIR=Java/servlet-dsl"
    - "TESTDIR=Java/spark"
    - "TESTDIR=Java/sabina"
    - "TESTDIR=Java/spring"
    - "TESTDIR=Java/tapestry"
    - "TESTDIR=Java/undertow"
    - "TESTDIR=Java/undertow-edge"
    - "TESTDIR=Java/vertx"
    - "TESTDIR=Java/wicket"
    - "TESTDIR=Java/wildfly-ee7"
    - "TESTDIR=JavaScript/express"
    - "TESTDIR=JavaScript/hapi"
    - "TESTDIR=JavaScript/koa"
    - "TESTDIR=JavaScript/nodejs"
    - "TESTDIR=JavaScript/ringojs"
    - "TESTDIR=JavaScript/ringojs-convenient"
    - "TESTDIR=JavaScript/sailsjs"
    - "TESTDIR=Lua/lapis"
    - "TESTDIR=Lua/openresty"
    - "TESTDIR=Nim/jester"
    - "TESTDIR=Nim/nawak"
    - "TESTDIR=Perl/dancer"
    - "TESTDIR=Perl/kelp"
    - "TESTDIR=Perl/mojolicious"
    - "TESTDIR=Perl/plack"
    - "TESTDIR=Perl/web-simple"
    - "TESTDIR=PHP/cakephp"
    - "TESTDIR=PHP/hhvm"
    - "TESTDIR=PHP/php"
    - "TESTDIR=PHP/cygnite-php-framework"
    - "TESTDIR=PHP/codeigniter"
    - "TESTDIR=PHP/clancats"
    - "TESTDIR=PHP/fat-free"
    - "TESTDIR=PHP/fuel"
    - "TESTDIR=PHP/kohana"
    - "TESTDIR=PHP/laravel"
    - "TESTDIR=PHP/limonade"
    - "TESTDIR=PHP/lithium"
    - "TESTDIR=PHP/lumen"
    - "TESTDIR=PHP/micromvc"
    - "TESTDIR=PHP/phalcon"
    - "TESTDIR=PHP/phalcon-micro"
    - "TESTDIR=PHP/phpixie"
    - "TESTDIR=PHP/pimf"
    - "TESTDIR=PHP/silex"
    - "TESTDIR=PHP/silex-orm"
    - "TESTDIR=PHP/slim"
    - "TESTDIR=PHP/symfony2"
    - "TESTDIR=PHP/symfony2-stripped"
    - "TESTDIR=PHP/yaf"
    - "TESTDIR=PHP/yii2"
    - "TESTDIR=PHP/zend"
    - "TESTDIR=PHP/zend1"
    - "TESTDIR=PHP/phreeze"
    - "TESTDIR=Python/asyncio"
    - "TESTDIR=Python/bottle"
    - "TESTDIR=Python/cherrypy"
    - "TESTDIR=Python/django"
    - "TESTDIR=Python/falcon"
    - "TESTDIR=Python/flask"
    - "TESTDIR=Python/historical"
    - "TESTDIR=Python/klein"
    - "TESTDIR=Python/pyramid"
    - "TESTDIR=Python/tornado"
    - "TESTDIR=Python/turbogears"
    - "TESTDIR=Python/uwsgi"
    - "TESTDIR=Python/web2py"
    - "TESTDIR=Python/wheezyweb"
    - "TESTDIR=Python/wsgi"
    - "TESTDIR=Racket/racket-ws"
    - "TESTDIR=Ruby/grape"
    - "TESTDIR=Ruby/ngx_mruby"
    - "TESTDIR=Ruby/padrino"
    - "TESTDIR=Ruby/rack"
    - "TESTDIR=Ruby/rails"
    - "TESTDIR=Ruby/rails-stripped"
    - "TESTDIR=Ruby/sinatra"
    - "TESTDIR=Rust/iron"
    - "TESTDIR=Rust/nickel"
    - "TESTDIR=Rust/hyper"
    - "TESTDIR=Scala/akka-http"
    - "TESTDIR=Scala/colossus"
    - "TESTDIR=Scala/finagle"
    - "TESTDIR=Scala/lift-stateless"
    - "TESTDIR=Scala/plain"
    - "TESTDIR=Scala/play2-scala"
    - "TESTDIR=Scala/scalatra"
    - "TESTDIR=Scala/scruffy"
    - "TESTDIR=Scala/spray"
    - "TESTDIR=Scala/spray-es"
    - "TESTDIR=Scala/unfiltered"
    - "TESTDIR=Scala/http4s"
    - "TESTDIR=Scala/finch"
    - "TESTDIR=Ur/urweb"

before_install:
  # Need to install python modules before using
  # python
  - pip install -r requirements.txt

  # Configure Travis-CI build environment for TFB
  #   e.g. setup databases, users, etc
  - ./toolset/run-ci.py cisetup "$TESTDIR"

addons:
  postgresql: "9.3"

install:
  # Install prerequisites
  - ./toolset/run-ci.py prereq "$TESTDIR"

  # Install software for this framework
  - ./toolset/run-ci.py install "$TESTDIR"

script:
  # Pick one test in this directory and verify
  - time ./toolset/run-ci.py verify "$TESTDIR"
