# Travis CI
#
#

sudo: required
dist: trusty
language: generic
python:
  - "2.7"
services:
  - docker

env:
  matrix:
    #  - "TESTLANG=C"
    # # - "TESTDIR=CSharp/aspnet"
    #  - "TESTDIR=CSharp/aspnetcore"
    # # ## - "TESTDIR=CSharp/aspnet-stripped"
    # # - "TESTDIR=CSharp/evhttp-sharp"
    # # ## - "TESTDIR=CSharp/HttpListener"
    # # - "TESTDIR=CSharp/nancy"
    # # - "TESTDIR=CSharp/revenj"
    # # - "TESTDIR=CSharp/servicestack"
    # # - "TESTDIR=C++/cppcms"
    # # - "TESTDIR=C++/ffead-cpp"
    # # - "TESTDIR=C++/cpoll_cppsp"
    # # - "TESTDIR=C++/cutelyst"
    #  - "TESTDIR=C++/silicon"
    #  - "TESTDIR=C++/treefrog"
    # # - "TESTDIR=C++/ulib"
    #  - "TESTDIR=C++/wt"
    #  - "TESTDIR=C++/poco"
    # # - "TESTDIR=C++/luna"
    #  - "TESTDIR=Clojure/aleph"
    #  - "TESTDIR=Clojure/compojure"
    #  - "TESTDIR=Clojure/http-kit"
    #  - "TESTDIR=Clojure/luminus"
    #  - "TESTDIR=Clojure/macchiato"
    #  - "TESTDIR=Clojure/pedestal"
    #  - "TESTDIR=Clojure/reitit"
    #  - "TESTDIR=Crystal/amber"
    #  - "TESTDIR=Crystal/crystal"
    #  - "TESTDIR=Crystal/kemal"
    #  - "TESTDIR=D/vibed"
    #  - "TESTDIR=D/hunt"
    #  - "TESTDIR=D/collie"
    #  - "TESTDIR=Dart/dart"
    #  - "TESTDIR=Dart/redstone"
    #  - "TESTDIR=Dart/start"
    #  - "TESTDIR=Dart/stream"
    #  - "TESTDIR=Elixir/phoenix"
    #  - "TESTDIR=Elixir/cowboy"
    #  - "TESTDIR=Erlang/chicagoboss"
    #  - "TESTDIR=Erlang/cowboy"
    #  - "TESTDIR=Erlang/elli"
    #  - "TESTDIR=Erlang/mochiweb"
    #  - "TESTDIR=Go/aah"
    #  - "TESTDIR=Go/beego"
    #  - "TESTDIR=Go/echo"
    #  - "TESTDIR=Go/falcore"
    #  - "TESTDIR=Go/fasthttp"
    #  - "TESTDIR=Go/gin"
    #  - "TESTDIR=Go/goji"
    #  - "TESTDIR=Go/go-std"
    #  - "TESTDIR=Go/revel"
    #  - "TESTDIR=Go/webgo"
    #  - "TESTDIR=Groovy/grails"
    #  - "TESTDIR=Groovy/hot"
    #  - "TESTDIR=Haskell/snap"
    #  - "TESTDIR=Haskell/wai"
    #  # Separating these tests b/c of travis timeout
    #  - 'TEST="yesod yesod-mongodb-raw"'
    #  - "TEST=yesod-postgres"
    #  - "TESTDIR=Haskell/servant"
    #  - "TESTDIR=Haskell/spock"
    #  - "TESTDIR=Java/act"
    #  - "TESTDIR=Java/activeweb"
    #  - "TESTDIR=Java/baratine"
    #  - "TESTDIR=Java/bayou"
    #  - "TESTDIR=Java/blade"
    #  - "TESTDIR=Java/comsat"
    #  - "TESTDIR=Java/curacao"
    #  - "TESTDIR=Java/dropwizard"
     - "TESTDIR=Java/gemini"
    #  - "TESTDIR=Java/grizzly"
    #  - "TESTDIR=Java/grizzly-jersey"
    #  - "TESTDIR=Java/jawn"
    #  - "TESTDIR=Java/jetty"
    #  - "TESTDIR=Java/jlhttp"
    #  - "TESTDIR=Java/jooby"
    #  - "TESTDIR=Java/light-java"
    #  - "TESTDIR=Java/minijax"
    #  - "TESTDIR=Java/netty"
    #  - "TESTDIR=Java/ninja-standalone"
    #  - "TESTDIR=Java/play1"
    #  - "TESTDIR=Java/play2-java"
    #  - "TESTDIR=Java/proteus"
    #  - "TESTDIR=Java/rapidoid"
    #  - "TESTDIR=Java/restexpress"
    #  - "TESTDIR=Java/revenj-jvm"
    #  - "TESTDIR=Java/servlet"
    #  - "TESTDIR=Java/spark"
    #  - "TESTDIR=Java/spring"
    #  - "TESTDIR=Java/tapestry"
    #  - "TESTDIR=Java/undertow"
    #  - "TESTDIR=Java/undertow-jersey"
    #  - "TESTDIR=Java/vertx"
    #  - "TESTDIR=Java/vertx-web"
    #  - "TESTDIR=Java/wicket"
    #  - "TESTDIR=Java/wildfly-ee7"
    #  - "TESTLANG=JavaScript"
    #  - "TESTDIR=Kotlin/hexagon"
    #  - "TESTDIR=Kotlin/http4k"
    #  - "TESTDIR=Kotlin/ktor"
    #  - "TESTDIR=Kotlin/pronghorn"
    #  - "TESTDIR=Lua/lapis"
    #  - "TESTDIR=Lua/octopus"
    #  - "TESTDIR=Lua/openresty"
    #  - "TESTDIR=Nim/jester"
    #  - "TESTDIR=Perl/dancer"
    #  - "TESTDIR=Perl/kelp"
    #  - "TESTDIR=Perl/mojolicious"
    #  - "TESTDIR=Perl/plack"
    #  - "TESTDIR=Perl/web-simple"
    # # - "TESTDIR=PHP/cakephp"
    # # - "TESTDIR=PHP/hhvm"
    # # - "TESTDIR=PHP/php"
    # # - "TESTDIR=PHP/cygnite"
    # # - "TESTDIR=PHP/codeigniter"
    # # - "TESTDIR=PHP/clancats"
    # # - "TESTDIR=PHP/fat-free"
    # # - "TESTDIR=PHP/fuel"
    # # - "TESTDIR=PHP/kohana"
    # # - "TESTDIR=PHP/laravel"
    # # - "TESTDIR=PHP/limonade"
    # # - "TESTDIR=PHP/lithium"
    # # - "TESTDIR=PHP/lumen"
    # # - "TESTDIR=PHP/peachpie"
    # # - "TESTDIR=PHP/phalcon"
    # # - "TESTDIR=PHP/phalcon-micro"
    # # - "TESTDIR=PHP/phpixie"
    # # - "TESTDIR=PHP/silex"
    # # - "TESTDIR=PHP/silex-orm"
    # # - "TESTDIR=PHP/slim"
    # # - "TESTDIR=PHP/symfony"
    # # - "TESTDIR=PHP/workerman"
    # # - "TESTDIR=PHP/yaf"
    # # - "TESTDIR=PHP/yii2"
    # # - "TESTDIR=PHP/zend"
    # # - "TESTDIR=PHP/zend1"
    # # - "TESTDIR=PHP/phreeze"
    #  - "TESTDIR=Python/aiohttp"
    #  - "TESTDIR=Python/apistar"
    #  - "TESTDIR=Python/api_hour"
    #  - "TESTDIR=Python/bottle"
    #  - "TESTDIR=Python/cherrypy"
    #  - "TESTDIR=Python/django"
    #  - "TESTDIR=Python/falcon"
    #  - "TESTDIR=Python/flask"
    #  - "TESTDIR=Python/japronto"
    #  - "TESTDIR=Python/klein"
    #  - "TESTDIR=Python/morepath"
    #  - "TESTDIR=Python/pyramid"
    #  - "TESTDIR=Python/sanic"
    #  - "TESTDIR=Python/tornado"
    #  - "TESTDIR=Python/turbogears"
    #  - "TESTDIR=Python/uvicorn"
    #  - "TESTDIR=Python/uwsgi"
    #  - "TESTDIR=Python/web2py"
    #  - "TESTDIR=Python/webware"
    #  - "TESTDIR=Python/weppy"
    #  - "TESTDIR=Python/wheezyweb"
    #  - "TESTDIR=Python/wsgi"
    #  - "TESTDIR=Ruby/grape"
    #  - "TESTDIR=Ruby/h2o_mruby"
    #  - "TESTDIR=Ruby/hanami"
    #  - "TESTDIR=Ruby/padrino"
    #  - "TESTDIR=Ruby/rack"
    #  - "TESTDIR=Ruby/rack-sequel"
    #  - "TESTDIR=Ruby/rails"
    #  - "TESTDIR=Ruby/roda-sequel"
    #  - "TESTDIR=Ruby/sinatra"
    #  - "TESTDIR=Ruby/sinatra-sequel"
    #  - "TESTDIR=Rust/iron"
    #  - "TESTDIR=Rust/nickel"
    #  - "TESTDIR=Rust/hyper"
    #  - "TESTDIR=Rust/may-minihttp"
    #  - "TESTDIR=Rust/tokio-minihttp"
    #  - "TESTDIR=Rust/rouille"
    #  - "TESTDIR=Rust/actix"
    #  - "TESTDIR=Scala/akka-http"
    #  - "TESTDIR=Scala/blaze"
    #  - "TESTDIR=Scala/colossus"
    #  - "TESTDIR=Scala/finagle"
    #  - "TESTDIR=Scala/finatra"
    #  - "TESTDIR=Scala/fintrospect"
    #  - "TESTDIR=Scala/play2-scala"
    #  - "TESTDIR=Scala/scruffy"
    #  - "TESTDIR=Scala/spray"
    #  - "TESTDIR=Scala/s-server"
    #  - "TESTDIR=Scala/http4s"
    #  - "TESTDIR=Scala/finch"
    #  - "TESTDIR=Swift/vapor"
    #  - "TESTDIR=Ur/urweb"
    #  - "TESTDIR=Vala/vsgi"
    #  - "TESTDIR=Vala/valum"

install:
  - docker build -t tfb/wrk -f toolset/setup/docker/wrk/wrk.dockerfile toolset/setup/docker/wrk

before_script:

  # Runs travis_diff, printing the output to the terminal, and searches for travis-diff-continue
  # to determine if the suite should be installed and the current $TESTDIR test should run.
  # - export CONTINUE_TEST=`./toolset/travis/travis_diff.py | tee /dev/tty | grep -q "travis-diff-continue" && echo 1`
  - export CONTINUE_TEST=1

script:

  # run-ci.py runs the diffing to see if travis needs to test this framework. Ideally/eventually,
  # we'd like to try and do the diffing before travis_clean & setup.
  # This will run the tests exactly as you would in your own vm:
  # ./toolset/run-tests.py --mode verify --test (all the valid tests for this framework)
  # - if [[ $CONTINUE_TEST && "$TESTDIR" ]]; then tfb --mode verify --test-dir $TESTDIR; else echo 'Skipping test verification.'; fi
  # - if [[ $CONTINUE_TEST && "$TESTLANG" ]]; then tfb --mode verify --test-lang $TESTLANG; else echo 'Skipping test verification.'; fi
  # - if [[ $CONTINUE_TEST && "$TEST" ]]; then tfb --mode verify --test $TEST; else echo 'Skipping test verification.'; fi

  - if [[ $CONTINUE_TEST && "$TESTDIR" ]]; then docker network create tfb > /dev/null 2>&1 && docker run --network=tfb -v /var/run/docker.sock:/var/run/docker.sock --mount type=bind,source=`pwd`,target=/FrameworkBenchmarks tfb --mode verify --test-dir $TESTDIR; else echo 'Skipping test verification.'; fi
  - if [[ $CONTINUE_TEST && "$TESTLANG" ]]; then docker network create tfb > /dev/null 2>&1 && docker run --network=tfb -v /var/run/docker.sock:/var/run/docker.sock --mount type=bind,source=`pwd`,target=/FrameworkBenchmarks tfb --mode verify --test-lang $TESTLANG; else echo 'Skipping test verification.'; fi
  - if [[ $CONTINUE_TEST && "$TEST" ]]; then docker network create tfb > /dev/null 2>&1 && docker run --network=tfb -v /var/run/docker.sock:/var/run/docker.sock --mount type=bind,source=`pwd`,target=/FrameworkBenchmarks tfb --mode verify --test $TEST; else echo 'Skipping test verification.'; fi
