language: python
python: 
  - "2.7"

env:
  global:
    - TFB_SERVER_HOST=127.0.0.1
    - TFB_CLIENT_HOST=127.0.0.1
    - TFB_DATABASE_HOST=127.0.0.1
    - TFB_CLIENT_USER=travis
    - TFB_DATABASE_USER=travis
    - TFB_CLIENT_IDENTITY_FILE=/home/travis/.ssh/id_rsa
    - TFB_DATABASE_IDENTITY_FILE=/home/travis/.ssh/id_rsa

  matrix:

    # Group tests by directory to logically break up travis-CI build. Otherwise
    # we end up starting ~200+ different workers. Seems that ~100 is the limit
    # before their website starts to lag heavily
    #
    # Here's the bash if you need to update this. Be sure to maintain the 
    # lines that are currently commented out (these cannot run in Travis)
    #   cd frameworks 
    #   find . -type d -depth 2 | sed 's|./|    - "TESTDIR=|' | sed 's/$/"/g'
    #
    #  
    - "TESTDIR=C/lwan"
    - "TESTDIR=C/duda"
    - "TESTDIR=C/onion"
    - "TESTDIR=C#/aspnet"
    # - "TESTDIR=C#/aspnet-stripped"
    - "TESTDIR=C#/evhttp-sharp"
    # - "TESTDIR=C#/HttpListener"
    - "TESTDIR=C#/nancy"
    - "TESTDIR=C#/servicestack"
    - "TESTDIR=C++/cpoll_cppsp"
    - "TESTDIR=C++/treefrog"
    - "TESTDIR=C++/ULib"
    - "TESTDIR=C++/wt"
    - "TESTDIR=Clojure/compojure"
    - "TESTDIR=Clojure/http-kit"
    - "TESTDIR=Clojure/luminus"
    - "TESTDIR=Dart/dart"
    - "TESTDIR=Dart/dart-redstone"
    - "TESTDIR=Dart/dart-start"
    - "TESTDIR=Dart/dart-stream"
    - "TESTDIR=Elixir/WeberFramework"
    - "TESTDIR=Erlang/cowboy"
    - "TESTDIR=Erlang/elli"
    - "TESTDIR=Go/beego"
    - "TESTDIR=Go/falcore"
    - "TESTDIR=Go/gin"
    - "TESTDIR=Go/go"
    - "TESTDIR=Go/gorail"
    - "TESTDIR=Go/revel"
    - "TESTDIR=Go/revel-jet"
    - "TESTDIR=Go/revel-qbs"
    - "TESTDIR=Go/webgo"
    - "TESTDIR=Groovy/grails"
    - "TESTDIR=Haskell/snap"
    - "TESTDIR=Haskell/wai"
    - "TESTDIR=Haskell/yesod"
    - "TESTDIR=Java/activeweb"
    - "TESTDIR=Java/curacao"
    - "TESTDIR=Java/dropwizard"
    - "TESTDIR=Java/dropwizard-mongodb"
    - "TESTDIR=Java/gemini"
    - "TESTDIR=Java/grizzly-bm"
    - "TESTDIR=Java/grizzly-jersey"
    - "TESTDIR=Java/jetty-servlet"
    - "TESTDIR=Java/netty"
    - "TESTDIR=Java/ninja-standalone"
    - "TESTDIR=Java/play1"
    - "TESTDIR=Java/play1siena"
    - "TESTDIR=Java/play2-java"
    - "TESTDIR=Java/restexpress"
    - "TESTDIR=Java/servlet"
    - "TESTDIR=Java/servlet3-cass"
    - "TESTDIR=Java/spark"
    - "TESTDIR=Java/spring"
    - "TESTDIR=Java/tapestry"
    - "TESTDIR=Java/undertow"
    - "TESTDIR=Java/undertow-edge"
    - "TESTDIR=Java/vertx"
    - "TESTDIR=Java/wicket"
    - "TESTDIR=Java/wildfly-ee7"
    - "TESTDIR=JavaScript/express"
    - "TESTDIR=JavaScript/hapi"
    - "TESTDIR=JavaScript/nodejs"
    - "TESTDIR=JavaScript/ringojs"
    - "TESTDIR=JavaScript/ringojs-convenient"
    - "TESTDIR=Lua/lapis"
    - "TESTDIR=Lua/leda"
    - "TESTDIR=Lua/openresty"
    - "TESTDIR=Nimrod/jester"
    - "TESTDIR=Nimrod/nawak"
    - "TESTDIR=Perl/dancer"
    - "TESTDIR=Perl/kelp"
    - "TESTDIR=Perl/mojolicious"
    - "TESTDIR=Perl/plack"
    - "TESTDIR=Perl/web-simple"
    - "TESTDIR=PHP/cakephp"
    - "TESTDIR=PHP/hhvm"
    - "TESTDIR=PHP/php"
    - "TESTDIR=PHP/php-codeigniter"
    - "TESTDIR=PHP/php-fatfree"
    - "TESTDIR=PHP/php-fuel"
    - "TESTDIR=PHP/php-kohana"
    - "TESTDIR=PHP/php-laravel"
    - "TESTDIR=PHP/php-lithium"
    - "TESTDIR=PHP/php-micromvc"
    - "TESTDIR=PHP/php-phalcon"
    - "TESTDIR=PHP/php-phalcon-micro"
    - "TESTDIR=PHP/php-phpixie"
    - "TESTDIR=PHP/php-pimf"
    - "TESTDIR=PHP/php-senthot"
    - "TESTDIR=PHP/php-silex"
    - "TESTDIR=PHP/php-silex-orm"
    - "TESTDIR=PHP/php-silica"
    - "TESTDIR=PHP/php-slim"
    - "TESTDIR=PHP/php-symfony2"
    - "TESTDIR=PHP/php-symfony2-stripped"
    - "TESTDIR=PHP/php-yaf"
    - "TESTDIR=PHP/php-yii2"
    - "TESTDIR=PHP/php-zend-framework"
    - "TESTDIR=PHP/phreeze"
    - "TESTDIR=Python/bottle"
    - "TESTDIR=Python/django"
    - "TESTDIR=Python/falcon"
    - "TESTDIR=Python/flask"
    - "TESTDIR=Python/pyramid"
    - "TESTDIR=Python/tornado"
    - "TESTDIR=Python/uwsgi"
    - "TESTDIR=Python/wsgi"
    - "TESTDIR=Racket/racket-ws"
    - "TESTDIR=Ruby/grape"
    - "TESTDIR=Ruby/padrino"
    - "TESTDIR=Ruby/rack"
    - "TESTDIR=Ruby/rails"
    - "TESTDIR=Ruby/rails-stripped"
    - "TESTDIR=Ruby/sinatra"
    - "TESTDIR=Scala/finagle"
    - "TESTDIR=Scala/lift-stateless"
    - "TESTDIR=Scala/plain"
    - "TESTDIR=Scala/play-activate-mysql"
    - "TESTDIR=Scala/play-scala-mongodb"
    - "TESTDIR=Scala/play2-scala"
    - "TESTDIR=Scala/scalatra"
    - "TESTDIR=Scala/scruffy"
    - "TESTDIR=Scala/spray"
    - "TESTDIR=Scala/unfiltered"
    - "TESTDIR=Ur/urweb"

before_install:
  # Need to install python modules before using 
  # python
  - pip install -r config/python_requirements.txt

  # Configure Travis-CI build environment for TFB
  #   e.g. setup databases, users, etc
  - ./toolset/run-ci.py cisetup "$TESTDIR"

addons:
  postgresql: "9.3" 

install:
  # Install prerequisites
  - ./toolset/run-ci.py prereq "$TESTDIR"
  
  # Install software for this framework  
  - ./toolset/run-ci.py install "$TESTDIR"
   
script: 
  # Pick one test in this directory and verify
  - time ./toolset/run-ci.py verify "$TESTDIR"

cache:
  directories:
    - installs/mono-3.2.8
    - installs/py2
    - installs/py3
    - installs/perl-5.18
