#cffi==1.11.2
click==6.7
Flask==0.12.2
Flask-SQLAlchemy==2.3.2
#greenlet==0.4.12
gunicorn==19.7.1
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
#readline==6.2.4.1
SQLAlchemy==1.2.2
Werkzeug==0.14.1
