backports-abc==0.5
certifi==2018.1.18
cffi==1.11.2
click==6.7
Flask==0.12.2
Flask-SQLAlchemy==2.3.2
greenlet==0.4.14
gunicorn==19.9.0
itsdangerous==0.24
Jinja2==2.11.3
MarkupSafe==1.0
PyMySQL==0.8.0
readline==6.2.4.1
singledispatch==3.4.0.3
six==1.11.0
SQLAlchemy==1.2.2
tornado==4.5.3
Werkzeug==0.14.1
