<!DOCTYPE html>
<html>
<head><title>Fortunes</title></head>
<body>
<table>
<tr><th>id</th><th>message</th></tr>
{{#Fortune}}<tr><td>{{id}}</td><td>{{message}}</td></tr>{{/Fortune}}
</table>
</body>
</html>
