<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="1.25" targetFramework="net45" />
  <package id="MySql.Data" version="6.8.3" targetFramework="net45" />
  <package id="Nancy" version="0.23.0" targetFramework="net45" />
  <package id="Nancy.Hosting.Aspnet" version="0.23.0" targetFramework="net45" />
</packages>