{deps,
 [
  {jiffy, ".*", {git, "https://github.com/davisp/jiffy.git", {tag, "0.8.3"}}},
  {jsx, ".*", {git, "http://github.com/talentdeficit/jsx.git", {tag, "v1.3.3"}}},
  {mimetypes, ".*", {git, "http://github.com/spawngrid/mimetypes.git", {branch, master}}},
  {cowboy, ".*", {git, "https://github.com/extend/cowboy.git", {tag, "0.8.2"}}}
 ]}.
