<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder>
            <pattern>%date{MM/dd HH:mm:ss.SSS} %-5level[%.15thread] %logger{1} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.reflections" additivity="false" level="WARN">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <logger name="com.kolich.curacao" additivity="false" level="ERROR">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>