{
  "swagger" : "2.0",
  "info" : {
    "description" : "A light-java implementation of benchmark",
    "version" : "1.0.0",
    "title" : "Tech Empower Performance Benchmark",
    "contact" : {
      "email" : "stevehu@gmail.com"
    },
    "license" : {
      "name" : "Apache 2.0",
      "url" : "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "host" : "benchmark.networknt.com",
  "schemes" : [ "http" ],
  "consumes" : [ "application/json" ],
  "produces" : [ "application/json" ],
  "paths" : {
    "/cache" : {
      "get" : {
        "description" : "cache serialization",
        "operationId" : "getCache",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "Successful response"
          }
        },
        "x-accepts" : "application/json",
        "x-contentType" : "application/json"
      }
    },
    "/db/mysql" : {
      "get" : {
        "description" : "mysql single query",
        "operationId" : "getQueryMysql",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "Successful response"
          }
        },
        "x-accepts" : "application/json",
        "x-contentType" : "application/json"
      }
    },
    "/db/postgresql" : {
      "get" : {
        "description" : "postgres single query",
        "operationId" : "getQueryPostgres",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "Successful response"
          }
        },
        "x-accepts" : "application/json",
        "x-contentType" : "application/json"
      }
    },
    "/fortunes/mysql" : {
      "get" : {
        "description" : "mysql fortunes",
        "operationId" : "getFortunesMysql",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "Successful response"
          }
        },
        "x-accepts" : "application/json",
        "x-contentType" : "application/json"
      }
    },
    "/fortunes/postgresql" : {
      "get" : {
        "description" : "postgres fortunes",
        "operationId" : "getFortunesPostgres",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "Successful response"
          }
        },
        "x-accepts" : "application/json",
        "x-contentType" : "application/json"
      }
    },
    "/json" : {
      "get" : {
        "description" : "json serialization",
        "operationId" : "getJson",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "Successful response"
          }
        },
        "x-accepts" : "application/json",
        "x-contentType" : "application/json"
      }
    },
    "/plaintext" : {
      "get" : {
        "description" : "plain text serialization",
        "operationId" : "getPlainText",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "Successful response"
          }
        },
        "x-accepts" : "application/json",
        "x-contentType" : "application/json"
      }
    },
    "/queries/mysql" : {
      "get" : {
        "description" : "mysql multiple query",
        "operationId" : "getQueriesMysql",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "Successful response"
          }
        },
        "x-accepts" : "application/json",
        "x-contentType" : "application/json"
      }
    },
    "/queries/postgresql" : {
      "get" : {
        "description" : "postgres multiple query",
        "operationId" : "getQueriesPostgres",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "Successful response"
          }
        },
        "x-accepts" : "application/json",
        "x-contentType" : "application/json"
      }
    },
    "/updates/mysql" : {
      "get" : {
        "description" : "mysql updates",
        "operationId" : "getUpdatesMysql",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "Successful response"
          }
        },
        "x-accepts" : "application/json",
        "x-contentType" : "application/json"
      }
    },
    "/updates/postgresql" : {
      "get" : {
        "description" : "postgres updates",
        "operationId" : "getUpdatesPostgres",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "Successful response"
          }
        },
        "x-accepts" : "application/json",
        "x-contentType" : "application/json"
      }
    }
  },
  "definitions" : { }
}