<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.3.1" targetFramework="net472" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net472" />
  <package id="Google.Protobuf" version="3.6.1" targetFramework="net472" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.2" targetFramework="net472" />
  <package id="Microsoft.AspNet.Razor" version="3.2.2" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.2" targetFramework="net472" />
  <package id="mongocsharpdriver" version="1.9.2" targetFramework="net472" />
  <package id="MSBuild.Microsoft.VisualStudio.Web.targets" version="11.0.2.1" />
  <package id="MySql.Data" version="8.0.17" targetFramework="net472" />
  <package id="MySql.Data.EntityFramework" version="8.0.17" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="6.0.6" targetFramework="net472" />
  <package id="Npgsql" version="2.2.3" targetFramework="net472" />
  <package id="Npgsql.EntityFramework" version="2.2.3" targetFramework="net472" />
  <package id="ServiceStack.Text" version="4.0.34" targetFramework="net472" />
  <package id="SSH.NET" version="2016.1.0" targetFramework="net472" />
</packages>