[package]
name = "rocket"
version = "0.1.0"
authors = ["Marcelo Barbosa <mbarbosa@gmail.com>"]

[dependencies]
diesel = { version = "1.3.2", features = ["postgres", "r2d2"] }
rand = "0.5.5"
rocket = "0.3.15"
rocket_codegen = "0.3.15"
serde = "1.0.71"
serde_json = "1.0.24"
serde_derive = "1.0.71"

[dependencies.rocket_contrib]
version = "*"
default-features = false
features = ["json", "handlebars_templates"]
