[package]
name = "rocket_benchmark"
version = "0.2.0"
authors = ["Marcelo Barbosa <mbarbosa@gmail.com>", "Brendan Hansknecht <brendan.hansknecht@gmail.com>", "Dragos Varovici <dvarovici.work@gmail.com>"]
edition = "2018"

[dependencies]
num_cpus = { version = "^1.13" }
rand = { version = "^0.8" }
yarte = { version = "^0.15" }
lazy_static = { version = "^1.4" }
async-stream = { version = "^0.3" }
async-trait = { version = "0.1" }
futures = { version = "^0.3" }
futures-util = { version = "^0.3" }
rocket = { git = "https://github.com/SergioBenitez/Rocket", features = [
    "json",
] }
sqlx = { version = "^0.5", features = [ "postgres", "macros", "migrate", "sqlite" ] }
rocket_db_pools = { git = "https://github.com/SergioBenitez/Rocket", features = [ "sqlx_postgres" ] }
figment = { version = "^0.10" }
dotenv = { version = "^0.15" }

serde = { version = "^1" }
serde_json = { version = "^1" }
serde_derive = { version = "^1" }
