body {	
    background-color: #fff;
    color: #333;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#register {
    float: left;
    display: inline-block;
}

h1 {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
	background-color: #E9E9E9;
	border: 1px solid #CFCFCF;
	border-radius: 4px;
}

.nav li {
    float: left;
    list-style: none;
    padding: 5px;
}

.navbar {
    text-align: right;
    padding: 5px;
    margin-bottom: 10px;
}

#container {
    height: auto;
    margin-bottom: 10px;
}

#footer {    
    width: 95%;
    margin-left: 1%;
    margin-right: 1%;
    position:absolute;
    bottom:0;
    font-size: 11px;
    font-weight: bold;
    height: auto;    
    text-align: center;
    
	padding-top: 10px;
	
	-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
	background-color: #E9E9E9;
	border: 1px solid #CFCFCF;
	border-radius: 4px;
}