{
	# Debug
    {$CADDY_DEBUG}

	frankenphp {
		#worker /path/to/your/worker.php
		{$FRANKENPHP_CONFIG}
	}
}

:8080

route {
    root * /symfony/public

    # FrankenPHP!
    @phpFiles path *.php
    php @phpFiles

    respond 404
}
