{
	# Debug
    {$CADDY_DEBUG}

	frankenphp {
		#worker /path/to/your/runtime.php
		{$FRANKENPHP_CONFIG}
	}
}

:8080

route {

	# FrankenPHP!
	# disable static files for this benchmark
	# by using php instead of php_server
    rewrite runtime.php
    php {
        root /symfony/public
    }

}
