<web-app>
  <servlet>
    <servlet-name>json</servlet-name>
    <servlet-class>hello.JsonServlet</servlet-class>
    <load-on-startup/>
  </servlet>
  <servlet-mapping url-regexp='^/json$' servlet-name='json'/>
  <servlet>
    <servlet-name>db</servlet-name>
    <servlet-class>hello.DbPoolServlet</servlet-class>
    <load-on-startup/>
  </servlet>
  <servlet-mapping url-regexp='^/db$' servlet-name='db'/>
  <servlet>
    <servlet-name>fortunes</servlet-name>
    <servlet-class>hello.FortunesServlet</servlet-class>
    <load-on-startup/>
  </servlet>
  <servlet-mapping url-regexp='^/fortunes$' servlet-name='fortunes'/>
  <servlet>
    <servlet-name>update</servlet-name>
    <servlet-class>hello.UpdateServlet</servlet-class>
    <load-on-startup/>
  </servlet>
  <servlet-mapping url-regexp='^/update$' servlet-name='update'/>
  <servlet>
    <servlet-name>postgres</servlet-name>
    <servlet-class>hello.PostgresServlet</servlet-class>
    <load-on-startup/>
  </servlet>
  <servlet-mapping url-regexp='^/postgres$' servlet-name='postgres'/>
  <servlet>
    <servlet-name>postgres-update</servlet-name>
    <servlet-class>hello.PostgresUpdateServlet</servlet-class>
    <load-on-startup/>
  </servlet>
  <servlet-mapping url-regexp='^/postgres-update$' servlet-name='postgres-update'/>
</web-app>
