<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK" version="2.0.0.4-beta" targetFramework="net45" />
  <package id="EnyimMemcached" version="2.12" targetFramework="net45" />
  <package id="mongocsharpdriver" version="1.8.2" targetFramework="net45" />
  <package id="MySql.Data" version="6.7.4" targetFramework="net45" />
  <package id="Npgsql" version="2.0.13-beta1" targetFramework="net45" />
  <package id="ServiceStack" version="3.9.59" targetFramework="net45" />
  <package id="ServiceStack.Api.Swagger" version="3.9.59" targetFramework="net45" />
  <package id="ServiceStack.Caching.AwsDynamoDb" version="3.9.55" targetFramework="net45" />
  <package id="ServiceStack.Caching.Azure" version="3.9.55" targetFramework="net45" />
  <package id="ServiceStack.Caching.Memcached" version="3.9.55" targetFramework="net45" />
  <package id="ServiceStack.Common" version="3.9.59" targetFramework="net45" />
  <package id="ServiceStack.OrmLite.MySql" version="3.9.59" targetFramework="net45" />
  <package id="ServiceStack.OrmLite.PostgreSQL" version="3.9.59" targetFramework="net45" />
  <package id="ServiceStack.OrmLite.SqlServer" version="3.9.59" targetFramework="net45" />
  <package id="ServiceStack.Redis" version="3.9.59" targetFramework="net45" />
  <package id="ServiceStack.Text" version="3.9.59" targetFramework="net45" />
  <package id="WindowsAzure.Caching" version="1.7.0.0" targetFramework="net45" />
</packages>