<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ConnectionString.MySQL" value="server=localhost;user id=benchmarkdbuser;password=benchmarkdbpass;database=hello_world" />
    <add key="ConnectionString.PostgreSQL" value="server=localhost;user id=benchmarkdbuser;password=benchmarkdbpass;database=hello_world" />
    <add key="ConnectionString.MongoDB" value="mongodb://localhost" />
  </appSettings>
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="false" targetFramework="4.5" />
    
    <pages controlRenderingCompatibilityVersion="4.0" />
    <httpHandlers>
      <add path="*" type="ServiceStack.WebHost.Endpoints.ServiceStackHttpHandlerFactory, ServiceStack" verb="*"/>
    </httpHandlers>
  </system.web>
  <system.webServer>
    <handlers>
      <add path="*" name="ServiceStack.Factory" type="ServiceStack.WebHost.Endpoints.ServiceStackHttpHandlerFactory, ServiceStack" verb="*" preCondition="integratedMode" resourceType="Unspecified" allowPathInfo="true" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.6.5.0" newVersion="6.6.5.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
</configuration>