global
    chroot      /var/lib/haproxy
    pidfile     /var/run/haproxy.pid
    maxconn     32768
    user        haproxy
    group       haproxy

defaults
    mode                    tcp
    log                     global
    option                  dontlognull
    option http-server-close
    option                  redispatch
    retries                 3
    timeout http-request    10s
    timeout queue           1m
    timeout connect         10s
    timeout client          1m
    timeout server          1m
    timeout http-keep-alive 10s
    timeout check           10s
    maxconn                 32768

frontend main
    bind *:8080
    default_backend             tfb

backend tfb
    balance     static-rr
    server  tfb0 127.0.0.1:9000 check
    server  tfb1 127.0.0.1:9001 check
    server  tfb2 127.0.0.1:9002 check
    server  tfb3 127.0.0.1:9003 check
    server  tfb4 127.0.0.1:9004 check
    server  tfb5 127.0.0.1:9005 check
    server  tfb6 127.0.0.1:9006 check
    server  tfb7 127.0.0.1:9007 check
    server  tfb8 127.0.0.1:9008 check
    server  tfb9 127.0.0.1:9009 check
    server  tfb10 127.0.0.1:9010 check
    server  tfb11 127.0.0.1:9011 check
    server  tfb12 127.0.0.1:9012 check
    server  tfb13 127.0.0.1:9013 check
    server  tfb14 127.0.0.1:9014 check
    server  tfb15 127.0.0.1:9015 check
    server  tfb16 127.0.0.1:9016 check
    server  tfb17 127.0.0.1:9017 check
    server  tfb18 127.0.0.1:9018 check
    server  tfb19 127.0.0.1:9019 check
    server  tfb20 127.0.0.1:9020 check
    server  tfb21 127.0.0.1:9021 check
    server  tfb22 127.0.0.1:9022 check
    server  tfb23 127.0.0.1:9023 check
    server  tfb24 127.0.0.1:9024 check
    server  tfb25 127.0.0.1:9025 check
    server  tfb26 127.0.0.1:9026 check
    server  tfb27 127.0.0.1:9027 check
