<?xml version="1.0" encoding="UTF-8"?>
<!--
	This file provides out-of-the-box support for Microsoft IIS 7 or higher.
	If you are using another webserver you can safely remove it. Do note that
	the Rewrite Module (http://www.iis.net/download/urlrewrite) is not (always)
	installed by default, but required for the proper working of the rules
	defined in the <rewrite> section of <system.webServer>.
-->
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Lithium Redirect" stopProcessing="true">
                    <match url="^(.*)$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                        <add input="{REQUEST_FILENAME}" pattern="favicon.ico$" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php?url={R:1}" appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>