<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <!-- Connection Strings -->
  <!-- Names are case insensitive -->
  <connectionStrings>
    <add name="MySQL" connectionString="server=localhost; user id=benchmarkdbuser; password=benchmarkdbpass; database=hello_world" providerName="MySql.Data.MySqlClient"/>
    <add name="PostgreSQL" connectionString="server=localhost; user id=benchmarkdbuser; password=benchmarkdbpass; database=hello_world" providerName="Npgsql"/>
    <add name="MongoDB" connectionString="mongodb://localhost"/>
    <add name="SQLServer" connectionString="server=localhost; user id=benchmarkdbuser; password=B3nchmarkDBPass; database=hello_world" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <!-- ADO.NET -->
  <system.data>
    <DbProviderFactories>
      <clear/>
      <add name="MySql.Data.MySqlClient" description="Data Provider for MySQL" invariant="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.7.2.0"/>
      <add name="Npgsql" description="Data Provider for PostgreSQL" invariant="Npgsql" type="Npgsql.NpgsqlFactory, Npgsql, Version=2.0.12.0"/>
      <add name="SqlClient Data Provider" description=".Net Framework Data Provider for SqlServer" invariant="System.Data.SqlClient" type="System.Data.SqlClient.SqlClientFactory, System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    </DbProviderFactories>
  </system.data>
  <!-- Entity Framework -->
  <entityFramework>
    <providers>
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity, Version=6.7.2.0"/>
      <provider invariantName="Npgsql" type="Npgsql.NpgsqlServices, Npgsql, Version=2.0.12.0"/>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <appSettings>
    <!-- Disable support for directly accessing *.cshtml/*.vbhtml files because that is a perf killer
         and because we don't use such functionality. -->
    <add key="webpages:Enabled" value="false" />
    <!-- To fully saturate the CPUs, we need to allow the .NET thread pool to create many threads
         when a large burst of requests come in. We do this by boosting the minWorkerThreads value
         from the default of 1 per logical processor to 8 per logical processor. This seems to be
         pretty conservative as http://support.microsoft.com/kb/821268 recommends 50.-->
    <add key="minWorkerThreadsPerLogicalProcessor" value="8" />
  </appSettings>
  <system.web>
    <!-- Show errors -->
    <customErrors mode="Off"/>
  </system.web>
  <!-- Register the application as an HTTP module -->
  <system.webServer>
    <!-- Used by IIS -->
    <modules>
      <remove name="Framework Benchmarks"/>
      <add name="Framework Benchmarks" type="Benchmarks.AspNet.Application"/>
    </modules>
    <!-- In IIS >= 7.0 it's not possible to have both <httpModules> and <modules>, this setting disables the warning -->
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
  <system.web>
    <!-- Used by the XSP web server on mono -->
    <httpModules>
      <remove name="Framework Benchmarks"/>
      <add name="Framework Benchmarks" type="Benchmarks.AspNet.Application"/>
    </httpModules>
  </system.web>
</configuration>