<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="MySQL" connectionString="server=localhost;user id=benchmarkdbuser;password=benchmarkdbpass;database=hello_world" providerName="MySql.Data.MySqlClient" />
    <add name="PostgreSQL" connectionString="server=localhost;user id=benchmarkdbuser;password=benchmarkdbpass;database=hello_world" providerName="Npgsql" />
    <add name="MongoDB" connectionString="mongodb://localhost" />
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <add name="MySql.Data.MySqlClient" invariant="MySql.Data.MySqlClient" description=".NET Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data" />
      <add name="Npgsql" invariant="Npgsql" description="Data Provider for PostgreSQL" type="Npgsql.NpgsqlFactory, Npgsql" />
    </DbProviderFactories>
  </system.data>
  <entityFramework>
    <providers>
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity" />
      <provider invariantName="Npgsql" type="Npgsql.NpgsqlServices, Npgsql" />
    </providers>
  </entityFramework>
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="false" />
  </system.web>
</configuration>