{{extend 'plugin_jqmobile/layout.html'}}

{{block header}}
{{if 'auth' in globals():}}
{{if not auth.user:}}
<a href="{{=URL()}}" data-icon="login" class="ui-btn-left">Login</a>
{{else:}}
<a href="{{=URL()}}" data-icon="logout" class="ui-btn-left">Logout</a>
{{pass}}
{{pass}}
<a href="{{=URL()}}" data-icon="home" class="ui-btn-right">{{=T("Home")}}</a>
{{end}}


<div>Search results for tag: {{='tag'}}</div>

<ul data-role="listview" data-inset="true">
  {{if True:}}
  <li data-role='list-divider'>Pages</li>
  {{for child in ('dog','cat','mouse'):}}
  {{title = child}}
  <li><a href="{{=URL('index', vars=dict(title=child))}}">{{=child}}</a></li>
  {{pass}}
  {{pass}}
</ul>

<div>
  {{for tag in ('dog','cat','mouse'):}}
  <a data-inline="true" href={{=URL('index', vars=dict(tag=tag))}} data-role="button">{{=tag}}</a>
  {{pass}}
</div>



