x-dart-template: &dart-base
  build:
    context: .
    dockerfile: ./dart-hybrid/Dockerfile
  network_mode: host
  restart: always
  volumes:
    - socket-data:/var/run/dart-sockets

services:
  traefik:
    image: traefik:latest
    network_mode: host
    cpuset: "0-15"
    volumes:
      - ./traefik.yaml:/etc/traefik/traefik.yaml:ro
      - socket-data:/var/run/dart-sockets

  dart-1:
    <<: *dart-base
    cpuset: "16-23"
    environment:
      - SOCKET_PATH=/var/run/dart-sockets/dart-1.sock
      - MAX_ISOLATES=8

  dart-2:
    <<: *dart-base
    cpuset: "24-31"
    environment:
      - SOCKET_PATH=/var/run/dart-sockets/dart-2.sock
      - MAX_ISOLATES=8

  dart-3:
    <<: *dart-base
    cpuset: "32-39"
    environment:
      - SOCKET_PATH=/var/run/dart-sockets/dart-3.sock
      - MAX_ISOLATES=8

  dart-4:
    <<: *dart-base
    cpuset: "40-47"
    environment:
      - SOCKET_PATH=/var/run/dart-sockets/dart-4.sock
      - MAX_ISOLATES=8

  dart-5:
    <<: *dart-base
    cpuset: "48-55"
    environment:
      - SOCKET_PATH=/var/run/dart-sockets/dart-5.sock
      - MAX_ISOLATES=8

volumes:
  socket-data:
    driver_opts:
      type: tmpfs
      device: tmpfs