{:duct.core/environment :development
 :duct.core/include     ["hello/config"]

 ;:duct.logger/timbre
 ;{:level :debug,
 ; :appenders {:duct.logger.timbre/spit #ig/ref :duct.logger.timbre/spit,
 ;             :duct.logger.timbre/brief #ig/ref :duct.logger.timbre/brief}}}

 :duct.database.mongodb/monger
 {:host "localhost" :port 27017}
 }
