<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <statusListener class="ch.qos.logback.core.status.NopStatusListener" />
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-5relative %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>
    <logger name="com.zaxxer.hikari" level="error" />
    <logger name="org.apache.http" level="error" />
    <logger name="org.xnio.nio" level="error" />
    <logger name="io.undertow" level="error" />
    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
