<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <LINK href="${context_path}/css/main.css" rel="stylesheet" type="text/css"/>
    <script src="${context_path}/js/jquery-1.4.2.min.js" type="text/javascript"></script>
    <script src="${context_path}/js/aw.js" type="text/javascript"></script>
    <title>ActiveWeb</title>
</head>
<body>

<div class="main">
    <div class="header">
        <h1><a href="${context_path}">ActiveWeb Benchmark Application</a></h1>
    </div>


    <div class="content">
    ${page_content}
    </div>
    <div class='footer'>
        <p>2010 - 2015 Active Web.</p>
    </div>

</div>

</body>

</html>
