{{extend 'default.mobile/layout.html'}}

{{block sectionclass}}resolve{{end}}

<h2>{{=T('Resolve Conflict file')}} "{{=filename}}"</h2>

<script>
function plus() {jQuery('.plus').show(); jQuery('.minus').hide(); }
function minus() {jQuery('.plus').hide(); jQuery('.minus').show(); }
function all() {jQuery('.plus').show(); jQuery('.minus').show(); }
</script>

<div class="controls">
<button onclick="plus()">new</button>
<button onclick="minus()">old</button>
<button onclick="all()">all</button>
</div>

<div class="form">
  <form action="{{=URL(r=request,args=request.args)}}" method="post">
    {{=diff}}
    <input type="submit" name="merge" value="{{=T('merge')}}" /><br/>
  </form>
</div>

