#######################
# client              #
#######################

[client]
port            = 3306
socket          = /var/run/mysqld/mysqld.sock
default-character-set=utf8

#######################
# mysqld              #
#######################

[mysqld]
#
# * Basic Settings
#
default-storage-engine = innodb
default_authentication_plugin = mysql_native_password

user            = mysql
pid-file        = /var/run/mysqld/mysqld.pid
socket          = /var/run/mysqld/mysqld.sock
datadir         = /ssd
secure-file-priv= NULL
port            = 3306
skip-external-locking
skip-name-resolve
lower_case_table_names = 1

character-set-server=utf8
collation-server=utf8_general_ci

#
# * Fine Tuning
#

key_buffer_size         = 16M
max_allowed_packet      = 16M
thread_stack            = 256K
thread_cache_size       = 128
max_connections         = 5000
back_log                = 5000
table_open_cache        = 800
table_definition_cache  = 800
max_heap_table_size     = 128M
tmp_table_size          = 128M

#
# monitoring off
#

performance-schema = false

#
# innodb settings
#

innodb_use_native_aio   = 1
# sync for every sec. not for every commit.
innodb_flush_log_at_trx_commit = 2
innodb_flush_method=O_DIRECT
innodb_buffer_pool_instances=14

sync_binlog=0

#
# * Query Cache Configuration

max_prepared_stmt_count  = 1048576

#######################
# mysqldump           #
#######################

[mysqldump]
quick
quote-names
max_allowed_packet      = 16M

!includedir /etc/mysql/conf.d/
