[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
async-worker = "==0.19.1"
cchardet = "==2.1.7"

[dev-packages]
black = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
