{{extend 'layout.html'}}
<script>$=jQuery</script>
<link rel="stylesheet" type="text/css" href="{{=URL(r=request,c='static',f='css/jqueryMultiSelect.css')}}" />
<script src="{{=URL(r=request,c='static',f='js/jqueryMultiSelect.js')}}"></script>
<script>
function callback() {
  $.get('{{=URL(r=request,f='callback')}}','',function(data,status){ if(data!='<done/>') { $('#target').html($('#target').html()+data); callback(); } });
}
$(document).ready(function() {
   $('#no_table_applications').multiSelect({selectAll: false});
   callback();
});
</script>

<h2>{{=T("OpenShift Deployment Interface")}}</h2>

<p class="help">{{=T("This page can commit your changes to an openshift app repo and push them to your cloud instance. This assumes that you've already created the application instance using the web2py skeleton and have that repo somewhere on a filesystem that this web2py instance can access. This functionality requires GitPython installed and on the python path of the runtime that web2py is operating in.")}}</p>

<p class="help">{{=T("Note: If you receive an error with github status code of 128, ensure the system and account you are deploying from has a cooresponding ssh key configured in the openshift account.")}}</p>

{{if command:}}
<h3>{{=T("Command")}}</h3>
<button onclick="$.get('{{=URL(r=request,f='kill')}}');">{{=T("kill process")}}</button>
{{=CODE(command)}}
<h3>{{=T("OpenShift Output")}}</h3>
<pre id="target"></pre>
{{else:}}
<h3>{{=T("Deployment form")}}</h3>
<div class="deploy_form form">
{{=form}}
</div>
{{pass}}
