<!DOCTYPE html>
<html>
<head>
    <meta charset="utf8">
    <title>Index</title>
</head>
<body>

    <h1>ASP.NET Benchmarks</h1>

    <h2>JSON</h2>
    <ul>
        <li><a href="/json">/json</a></li>
    </ul>

    <h2>ADO.NET (Raw)</h2>
    <h3>MySQL</h3>
    <ul>
        <li><em>DB: </em> <a href="/ado/mysql">/ado/mysql</a></li>
        <li><em>Queries: </em> <a href="/ado/mysql?queries=10">/ado/mysql?queries=10</a></li>
        <li><em>Fortunes: </em> <a href="/ado/mysql/fortunes">/ado/mysql/fortunes</a></li>
        <li><em>Update: </em> <a href="/ado/mysql/update?queries=10">/ado/mysql/update?queries=10</a></li>
    </ul>
    <h3>PostgreSQL</h3>
    <ul>
        <li><em>DB: </em> <a href="/ado/postgresql">/ado/postgresql</a></li>
        <li><em>Queries: </em> <a href="/ado/postgresql?queries=10">/ado/postgresql?queries=10</a></li>
        <li><em>Fortunes: </em> <a href="/ado/postgresql/fortunes">/ado/postgresql/fortunes</a></li>
        <li><em>Update: </em> <a href="/ado/postgresql/update?queries=10">/ado/postgresql/update?queries=10</a></li>
    </ul>

    <h2>Entity Framework (ORM)</h2>
    <h3>MySQL</h3>
    <ul>
        <li><em>DB: </em> <a href="/entityframework/mysql">/entityframework/mysql</a></li>
        <li><em>Queries: </em> <a href="/entityframework/mysql?queries=10">/entityframework/mysql?queries=10</a></li>
        <li><em>Fortunes: </em> <a href="/entityframework/mysql/fortunes">/entityframework/mysql/fortunes</a></li>
        <li><em>Update: </em> <a href="/entityframework/mysql/update?queries=10">/entityframework/mysql/update?queries=10</a></li>
    </ul>
    <h3>PostgreSQL</h3>
    <ul>
        <li><em>DB: </em> <a href="/entityframework/postgresql">/entityframework/postgresql</a></li>
        <li><em>Queries: </em> <a href="/entityframework/postgresql?queries=10">/entityframework/postgresql?queries=10</a></li>
        <li><em>Fortunes: </em> <a href="/entityframework/postgresql/fortunes">/entityframework/postgresql/fortunes</a></li>
        <li><em>Update: </em> <a href="/entityframework/postgresql/update?queries=10">/entityframework/postgresql/update?queries=10</a></li>
    </ul>

    <h2>MongoDB</h2>
    <ul>
        <li><em>DB: </em> <a href="/mongodb">/mongodb</a></li>
        <li><em>Queries: </em> <a href="/mongodb?queries=10">/mongodb?queries=10</a></li>
        <li><em>Fortunes: </em> <a href="/mongodb/fortunes">/mongodb/fortunes</a></li>
        <li><em>Update: </em> <a href="/mongodb/update?queries=10">/mongodb/update?queries=10</a></li>
    </ul>

</body>
</html>
