mysqlclient==1.3.1
PyMySQL==0.6.2
psycopg2==2.5.2

simplejson==3.4.1
ujson==1.33
# gevent==1.0.1 # gevent doesn't support Python 3 yet.
# uwsgi is released too often to stick on single version.
uwsgi

gunicorn==18.0
meinheld==0.5.6

# Tornado
tornado==3.2.1
motor==0.2
# pymongo is installed via motor dependency

# Django
Django==1.6.4

# Flask
Jinja2==2.7.2
Werkzeug==0.9.4
flask==0.10.1
SQLAlchemy==0.9.4
Flask-SQLAlchemy==1.0

# Bottle
bottle==0.12.7
bottle-sqlalchemy==0.4.1

# Falcon
Cython==0.20.1
falcon==0.1.8
