{% include 'includes/header.html.twig' %}
<h1>404 Not Found</h1>
<p>The requested page could not be found</p>
<p><a href="{{ app.url('/') }}">Go back</a></p>
{% include 'includes/footer.html.twig' %}
