# AppServer.config file for Webware for Python

PrintConfigAtStartUp = False
Verbose = False # verbose output

PlugInDirs = [WebwarePath] # load all Webware plug-ins
PlugIns = [] # use this if you want to load specific plug-ins only

# This is the IP address at which the application server will listen:
Host = '' # use '' for listening on all network interfaces

EnableAdapter = True # enable WebKit adapter
AdapterPort = 8086

EnableHTTP = True # enable built-in Webserver
HTTPPort = 8080

# The initial, minimum and maxium number of worker threads:
StartServerThreads = 10
MinServerThreads = 5
MaxServerThreads = 20

# The maximum execution time for AppServer requests:
MaxRequestTime = 300 # specified in seconds

# You can activate auto reloading on source changes here:
AutoReload = True
