aiofiles==0.4.0
asyncpg==0.18.3
blinker==1.4
Click==7.0
h11==0.8.1
h2==3.1.0
hpack==3.0.0
Hypercorn==0.5.3
hyperframe==5.2.0
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.1.1
multidict==4.5.2
pytoml==0.1.20
Quart==0.8.1
sortedcontainers==2.1.0
typing-extensions==3.7.2
uvloop==0.12.1
wsproto==0.13.0
