%% -*- erlang -*-
{deps, [
  {mochiweb, "2.9.0", {git, "https://github.com/mochi/mochiweb.git", {tag, "v2.9.0"}}},
  {jsonx, ".*", {git, "https://github.com/iskra/jsonx.git", "9c95948c6835827ed61a9506ae4a9aba61acf335"}},
  {emysql, ".*", {git, "https://github.com/deadtrickster/Emysql.git"}},
  {erlydtl, "0.11.1", {git, "https://github.com/erlydtl/erlydtl.git", {tag, "0.11.1"}}}
]}.
{erlydtl_opts, [
    {doc_root,   "priv/templates"},
    {out_dir,    "ebin"},
    {source_ext, ".dtl"},
    {module_ext, "_view"}
]}.
