%% -*- erlang -*-
{deps, [
  {mochiweb, ".*", {git, "https://github.com/mochi/mochiweb.git", {tag, "v2.20.1"}}},
  {jiffy, ".*", {git, "https://github.com/davisp/jiffy.git", {tag, "1.1.1"}}},
  {emysql, ".*", {git, "https://github.com/deadtrickster/Emysql.git"}},
  {erlydtl, ".*", {git, "https://github.com/erlydtl/erlydtl.git", {tag, "0.14.0"}}}
]}.
{erlydtl_opts, [
    {doc_root,   "priv/templates"},
    {out_dir,    "ebin"},
    {source_ext, ".dtl"},
    {module_ext, "_view"}
]}.
