########## BEGIN FRAMEWORK CONFIGURATION (DON'T CHANGE THE STRUCTURE HERE -- PLEASE SET ALL REQUIRED VALUES) ##########

# Whether the application should be in debug mode (`1`) or in production mode (`0`)
APP_DEBUG=1
# The public HTTP(S) URL pointing at the application's root directory
APP_PUBLIC_URL=http://localhost/
# The character set or encoding to use throughout the application (usually 'UTF-8')
APP_CHARSET=UTF-8
# The default timezone for the application (see 'http://php.net/manual/de/timezones.php' for possible values)
APP_DEFAULT_TIMEZONE=UTC

# The name of the database driver (e.g. `mysql`, `pgsql` or `sqlite`)
DB_DRIVER=mysql
DB_HOST=localhost
DB_PORT=3306
DB_FILE_PATH=
DB_IN_MEMORY=0
DB_NAME=blog
DB_USERNAME=root
DB_PASSWORD=monkey
DB_CHARSET=utf8mb4
DB_PREFIX=

# The transport mechanism that is used to send mails (either `smtp`, `sendmail` or `php`)
MAIL_TRANSPORT=php
MAIL_HOST=smtp.example.com
MAIL_PORT=587
MAIL_USERNAME=user@example.com
MAIL_PASSWORD=monkey
MAIL_TLS=0

# The settings of the encoder/decoder that can be used to obfuscate IDs
SECURITY_IDS_ALPHABET=GZwBHpfWybgQ5d_2mM-jh84K69tqYknx7LN3zvDrcSJVRPXsCFT
SECURITY_IDS_PRIME=1125812041
SECURITY_IDS_INVERSE=348986105
SECURITY_IDS_RANDOM=998048641

########## END FRAMEWORK CONFIGURATION ##########

########## BEGIN APP CONFIGURATION (PLEASE PUT YOUR OWN SETTINGS HERE (IF ANY)) ##########

# MY_KEY=my-value

########## END APP CONFIGURATION ##########
