[package]
name = "thruster_techempower"
version = "0.1.0"
authors = ["Isaac Whitfield <iw@whitfin.io>"]
edition = "2018"

[dependencies]
futures = "0.1"
serde = "1.0"
serde_derive = "1.0"
serde_json = "1.0"
smallvec = "0.6.2"
thruster = "=0.5.0-beta10"

[profile.release]
codegen-units = 1
opt-level = 3
lto = true

