---
_: &common
  adapter: mysql2
  database: hello_world
  username: benchmarkdbuser
  password: benchmarkdbpass
  host: tfb-database
  timeout: 5000

development:
  <<: *common
  pool: 5

test:
  <<: *common
  pool: 64

production:
  <<: *common
  pool: 256
