{{extend 'layout.html'}}
{{block sectionclass}}shell{{end}}
<!-- begin "shell" block -->
<div id="wrapper">
  <div class="row-fluid">
    <div class="output-wrapper span8">
      <textarea id="output" readonly="readonly">web2py Shell {{=request.env.web2py_version}}
</textarea>
    </div>
  </div>
  
  <div class="row-fluid">
    <form id="form" action="{{=URL(r=request,f='callback',args=app)}}" method="get" class="span8">
      <div id="shellwrapper">
	<div class="prompt-wrapper">
	  <div class="prompt-container">
	    <textarea class="prompt" name="statement" id="statement"></textarea>
	  </div>
	  <a href="#" rel="tooltip" data-placement="right" data-original-title="{{=T('Type some Python code in here and hit Return (Enter) to execute it.')}}">
	    {{=helpicon()}}
	    <span>Type some Python code in here and hit Return (Enter) to execute it.</span>
	  </a>
	</div>
	<div id="caret"><span>&gt;&gt;&gt;</span></div>
	<div id="autoscroll">autoscroll</div>
      </div>
    </form>
  </div>
  
  <div class="row-fluid clearfix">
    <div class="help alert alert-info span6">
      <ul>
	<li>Using the shell may lock the database to other users of this app.</li>
	<li>Each db statement is automatically committed.</li>
	<li>Creating new tables dynamically is not allowed.</li>
	<li>Models are automatically imported in the shell.</li>
      </ul>
    </div>
  </div>
</div>
<script type="text/javascript" src="{{=URL('static', 'js/autoscroll.js')}}"></script>

<script type="text/javascript">
var bShellScrolling=0
jQuery(document).ready(function(){
  jQuery('#statement').focus();

  jQuery('#statement').keyup(function(event){
    var t=jQuery(this),
    s=t.val(),
    o=jQuery('#output'),
    RETURN = 38;
    if(s=='\n') t.val('');
    if(s.length>1 && s.substr(s.length-1,1)=='\n' && s.substr(s.length-2,1)!=':' &&
    (s.indexOf(':\n ')<0 || s.substr(s.length-2,1)=='\n')) {
      t.val('');
      jQuery.post("{{=URL(r=request,f='callback',args=app)}}",
      {statement:s},function(data){o.html(o.html()+data).attr('scrollTop',o.attr('scrollHeight'));});
    } else { };
    if(event.keyCode==RETURN){
      var i=s.length
      if(i==0){
        var s=o.find('table:last pre:first').text();
        bShellScrolling=o.find('table').length;
      }else if(bShellScrolling){
        var i=bShellScrolling
        if(i<1){
          return
        }else{
          i--
          var s=o.find('table:nth-child('+(i)+') pre:first').text();
          bShellScrolling=i
        }
      }else if(s.indexOf('\n')<0){
        var oo=o.find('tr:first-child pre:contains("'+s+'")')
        if(oo.length==0){
          return
        }else if(oo.length==1){
          s=oo.text();
        }else{
          sVar=oo.text();
          o.html(o.html()+'<dd>'+s+' ?</dd><dt>'+sVar+'</dt>').attr('scrollTop',o.attr('scrollHeight'))
          return
        }
      }else{
        //multistring expr
        return;
      }
      //  if(s.slice(s.length-1)=='\n'){
      s=s.slice(0,s.length-1)
      //	}
      t.val(s);
    }
    if(bShellScrolling && event.keyCode==40){
      var i=bShellScrolling
      i++
      var s=o.find('table:nth-child('+i+') tr:first-child pre').text();
      if(s){
        s=s.slice(0,s.length-1)
        t.val(s);
        bShellScrolling=i
      }else{
        bShellScrolling=0
        t.val('')
      }
    };
    if(bShellScrolling && (event.keyCode==37 || event.keyCode==39)){
      bShellScrolling=0;
    };
    if(event.keyCode==27){
      bShellScrolling=0;
      t.val('');
    };
  });
});
</script>
<!-- end "shell" block -->
