/* 
Gemini Basic Administration
CSS for live log monitoring
*/

body
{
  color: black;
  background: white;
  margin: 0px 0px 0px 0px;
}
div#banner
{
  color: black;
  background: rgba(255,255,255,0.6);
  font-family: Tahoma, Verdana, Arial, Helvetica, sansserif;
  font-size: 12px;
  position: fixed;
  top: 0px;
  right: 0px;
  padding: 4px 8px 4px 8px;
  font-weight: bold;
  text-align: right;
}
div#log, div#log td
{
  font-family: Consolas, Courier, fixed;
  font-size: 12px;
}
div#log table
{
  padding: 0px 0px 0px 0px;
}
div#log table td.linenumber
{
  text-align: right;
  width: 55px;
  padding-right: 10px;
}
div#log table td.content
{
}
div#banner span#channel
{
  font-weight: normal;
}
div#banner span#stats
{
  font-weight: normal;
}
div#banner span#stats span#displayed,
div#banner span#stats span#captured
{
  font-weight: bold;
}
div#banner span#levels,
div#banner span#controls
{
  display: block;
  padding: 8px 0px 4px 0px;
}
div#banner span#levels a,
div#banner span#controls a
{
  color: black;
  background-image: -moz-linear-gradient(top, rgb(255,255,255), rgb(230,230,235));
  background-image: -webkit-gradient(linear, center top, center bottom, from(rgb(255,255,255)), to(rgb(230,230,235)));
  border: 1px solid rgb(180,180,190);
  padding: 2px 4px 2px 4px;
  margin: 0px 2px 0px 2px;
  font-size: 12px;
  text-decoration: none;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
  -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
  text-shadow: none;
}
div#banner span#levels a:hover,
div#banner span#controls a:hover
{
  color: rgb(60,170,200);
  background-image: -moz-linear-gradient(top, rgb(255,255,255), rgb(190,210,245));
  background-image: -webkit-gradient(linear, center top, center bottom, from(rgb(255,255,255)), to(rgb(190,210,245)));
  text-shadow: 0px 0px 2px rgba(255,255,255,0.9), 0px 0px 4px rgba(255,255,255,0.8), 0px 0px 6px rgba(255,255,255,0.7), 0px 0px 10px rgba(255,255,255,0.6);
  border: 1px solid rgb(130,130,140);
}
div#banner span#levels a.selected,
div#banner span#controls a.selected
{
  color: rgb(200,70,20);
  background-image: -moz-linear-gradient(top, rgb(255,255,255), rgb(245,210,190));
  background-image: -webkit-gradient(linear, center top, center bottom, from(rgb(255,255,255)), to(rgb(245,210,190)));
  text-shadow: 0px 0px 2px rgba(255,255,255,0.9), 0px 0px 4px rgba(255,255,255,0.8), 0px 0px 6px rgba(255,255,255,0.7), 0px 0px 10px rgba(255,255,255,0.6);
  border: 1px solid rgb(230,80,50);
}
div#banner span#controls input#filter
{
  width: 100px;
  border: 1px solid rgb(180,180,190);
  background: rgba(255,255,255,0.6);
  font-family: Tahoma, Verdana, Arial, Helvetica, sansserif;
  font-size: 12px;
}
