/* GeminiHello style-sheet. */

body {
  padding: 0px;
  margin: 0px;
  background-color: rgb(190,190,190);
  color: #000000;
}

body, input, textarea, select {
  font-family: Arial, Helvetica;
  font-size: 14px;
  line-height: 18px;
}

/* Corrects styling for new HTML semantic elements in older browsers. */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section { 
  display: block;
}

/* When placed at the end of a block, clears the floating blocks above. 
   When placed at the beginning of a block, avoids some issues caused 
   by margin collapsing (especially in IE7). */
.clear {
  display: block;
  clear: both;
  height: 1px;
  margin-bottom: -1px;
}

/* Standard fixed-width layout. */
#container {
  background-color: white;
  width: 1000px;
  margin: 0px auto;
}

#header,
#content,
#footer {
}

#header,
#footer {
  background-color: rgb(200,210,254);
  padding: 4px 10px;
}

#content {
  padding: 10px 10px;
}

#messages p {
  padding: 13px;
  border-width: 2px;
  border-style: solid;
}

#messages .success {
  border-color: #c6d880; 
  background-color: #e6efc2; 
  color: #264409; 
}

#messages .error {
  background-color: #fbe3e4; 
  color: #8a1f11;
  border-color: #fbc2c4;
}

#messages .warning {
  background-color: #fff6bf; 
  color: #514721;
  border-color: #ffd324;;
}

#messages .normal { 
  background-color: #d5edf8; 
  color: #205791; 
  border-color: #92cae4;
}