{{extend 'layout.html'}}
{{block sectionclass}}change_password{{end}}
<!-- begin "change_password" block  -->
<h2>web2py&trade; {{=T('Web Framework')}}</h2>
<h3>{{=T('Change Admin Password')}}</h3>
<div class="pwform">
{{=form.custom.begin}}
	{{ for fieldname in form.table.fields: }} 
		{{if fieldname is not 'id':}}
			<label>{{=form.custom.label[fieldname]}}</label> 
			{{=form.custom.widget[fieldname]}} 
		{{pass}}
	{{pass}} 
	<div class="controls"><button type="submit" class="btn">{{=T('Submit')}}</button></div>
{{=form.custom.end}}
</div>
<script type="text/javascript">
	jQuery(document).ready(function() {
		jQuery(":input:visible:enabled:first").focus();
	});
</script>
<!-- end "change_password" block -->