{{extend 'layout.html'}}
<script>
function delkey(id) {
  jQuery('#'+id).hide();
  jQuery('#'+id+' INPUT').val(String.fromCharCode(127));
  jQuery('#'+id+' TEXTAREA').val(String.fromCharCode(127));
  return false;
}
function hideShowTranslated(){
  jQuery(".translated").closest("div.row-fluid").toggle();
}
</script>

{{block sectionclass}}edit_language{{end}}
<!-- begin "edit_language" block -->
<h2>{{=T('Editing Language file')}} "{{=filename}}"</h2>
<div class="controls">
<a class="button btn" href="#" onclick="hideShowTranslated(this);">
<span>{{=T('Hide/Show Translated strings')}}</span>
</a>
</div>
<div class="languageform">
  {{=form}}
</div>
<button class="btn" style="position:fixed; right:10px; bottom: 10px;" onclick="jQuery('form input[type=submit]').click()">Save Changes</button>
<!-- end "edit_language" block -->
