<div>
    <h4>{{=T("Keyboard shortcuts")}}</h4>
    <ul class="keybindings unstyled">
    <li></li>
        {{=shortcut('Ctrl+S', T('Save via Ajax'))}}
        {{=shortcut('Ctrl+F11', T('Toggle Fullscreen'))}}
		{{=shortcut('Shift+Esc', T('Exit Fullscreen'))}}
        {{=shortcut('Ctrl-F / Cmd-F', T('Start searching'))}}
        {{=shortcut('Ctrl-G / Cmd-G', T('Find Next'))}}
        {{=shortcut('Shift-Ctrl-G / Shift-Cmd-G', T('Find Previous'))}}
        {{=shortcut('Shift-Ctrl-F / Cmd-Option-F', T('Replace'))}}
        {{=shortcut('Shift-Ctrl-R / Shift-Cmd-Option-F', T('Replace All'))}}
        {{=shortcut('Ctrl-/ ', T('Toggle comment'))}}
        {{=shortcut('Tab', T('Expand Abbreviation (html files only)'))}}
        {{=shortcut('Ctrl-Space', T('Autocomplete Python Code'))}}
    </ul>
</div>
