{{extend 'layout.html'}}
{{block sectionclass}}peek{{end}}
<!-- begin "peek" block -->
<h2>{{=T("Peeking at file")}} "{{=filename}}"</h2>
<p class="controls">
{{=button(URL('design',args=request.vars.app if request.vars.app else request.args[0], anchor=request.vars.id), T('back'))}}
{{=button(URL('edit',args=request.args, vars=request.vars), T('Edit'))}}
</p>
<div class="code-wrapper">
{{
if filename[-3:]=='.py': language='python'
else: language='html'
}}
{{=CODE(data,language=language,link='/examples/global/vars/')}}
</div>
<!-- end "peek" block -->