<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<link rel="icon" type="image/png" href="{{ app.url('/favicon.ico') }}">
	<meta name="robots" content="index,follow">
	<title>My application</title>
	<style type="text/css">
		html, body {
			height: 100%;
			min-height: 100%;
		}
		body {
			margin: 24px;
			text-align: center;
		}
	</style>
</head>
<body>
