<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.1.1" targetFramework="net45" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="3.2.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.2" targetFramework="net45" />
  <package id="MSBuild.Microsoft.VisualStudio.Web.targets" version="11.0.2.1" />
  <package id="mongocsharpdriver" version="1.9.2" targetFramework="net45" />
  <package id="MySql.Data" version="6.9.5" targetFramework="net45" />
  <package id="MySql.Data.Entity" version="6.9.5" targetFramework="net45" />
  <package id="Npgsql" version="2.2.3" targetFramework="net45" />
  <package id="Npgsql.EntityFramework" version="2.2.3" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.6" targetFramework="net45" />
  <package id="ServiceStack.Text" version="4.0.34" targetFramework="net45" />
</packages>