<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.0" xmlns="http://java.sun.com/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd">
    
    <persistence-unit name=".read" transaction-type="RESOURCE_LOCAL">
        <shared-cache-mode>ALL</shared-cache-mode>
        <properties>
            <property name="javax.persistence.jdbc.url" value="jdbc:postgresql://tfb-database:5432/hello_world"/>
            <property name="javax.persistence.jdbc.preparecache" value="true"/>
            <property name="javax.persistence.connections.limit" value="512"/>
            <property name="javax.persistence.jdbc.user" value="benchmarkdbuser"/>
            <property name="javax.persistence.jdbc.password" value="benchmarkdbpass"/>
        </properties>
    </persistence-unit>
    
    <persistence-unit name=".write" transaction-type="RESOURCE_LOCAL">
        <shared-cache-mode>ALL</shared-cache-mode>
        <properties>
            <property name="javax.persistence.jdbc.url" value="jdbc:postgresql://tfb-database:5432/hello_world"/>
            <property name="javax.persistence.jdbc.preparecache" value="true"/>
            <property name="javax.persistence.connections.limit" value="512"/>
            <property name="javax.persistence.jdbc.user" value="benchmarkdbuser"/>
            <property name="javax.persistence.jdbc.password" value="benchmarkdbpass"/>
        </properties>
    </persistence-unit>
   
</persistence>
