<!DOCTYPE HTML>
<%#include "fortune.h" %>
<html>
<head>
<title>Fortunes</title>
</head>
<body>
<table>
<tr>
<th>id</th>
<th>message</th>
</tr>
<% tfetch(QList<Fortune>, fortuneList); %>
<% for (auto &i : fortuneList) { %>
<tr>
<td><%= (ulong)i.id() %></td>
<td><%= i.message() %></td>
</tr>
<% } %>
</table>
</body>
</html>
