# routes.cfg

# The priority is based upon order of creation:
# first created -> highest priority.

# Samples of regular routes:
#   match  "/Book"  "Book#view"
#   get    "/"  "Blog#index"
#   post   "/New/:params"  "Account#entry"

