<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
	<appSettings>
		<add key="webpages:Version" value="2.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="PreserveLoginUrl" value="true" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
	</appSettings>

	<connectionStrings>
		<add name="MySQL" connectionString="server=localhost; user id=benchmarkdbuser; password=benchmarkdbpass; database=hello_world" providerName="MySQL" />
		<add name="PostgreSQL" connectionString="server=localhost; Integrated Security=true; database=hello_world" providerName="PostgreSQL" />
		<add name="PostgreSQL_dotConnect" connectionString="server=localhost; Integrated Security=true; database=hello_world; Unicode=true" providerName="PostgreSQL_dotConnect" />
		<!--<add name="MongoDB" connectionString="mongodb://localhost" />-->
		<add name="SQLServer" connectionString="server=localhost\sql2012; Integrated Security=true; database=hello_world; Asynchronous Processing=true" providerName="SQLServer" />
	</connectionStrings>

	<system.data>
		<DbProviderFactories>
			<clear />
			<add name="MySQL" description="Data Provider for MySQL" invariant="MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data" />
			<add name="PostgreSQL" description="Data Provider for PostgreSQL" invariant="PostgreSQL" type="Npgsql.NpgsqlFactory, Npgsql" />
			<add name="SQLServer" description=".Net Framework Data Provider for SqlServer" invariant="SQLServer" type="System.Data.SqlClient.SqlClientFactory, System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
			<add name="PostgreSQL_dotConnect" invariant="PostgreSQL_dotConnect" description="Devart dotConnect for PostgreSQL" type="Devart.Data.PostgreSql.PgSqlProviderFactory, Devart.Data.PostgreSql, Version= 7.2.80.0, Culture=neutral, PublicKeyToken=09af7300eec23701" />
		</DbProviderFactories>
	</system.data>

	<system.web>
		<httpRuntime targetFramework="4.5" requestValidationMode="4.0" />
		<compilation debug="true" targetFramework="4.5" />

		<customErrors mode="Off" />
		<trace enabled="false" requestLimit="100" mostRecent="true" pageOutput="false" localOnly="true" />
		<sessionState mode="Off" />

		<pages>
			<namespaces>
				<add namespace="System.Web.Helpers" />
				<add namespace="System.Web.Mvc" />
				<add namespace="System.Web.Mvc.Ajax" />
				<add namespace="System.Web.Mvc.Html" />
				<add namespace="System.Web.Routing" />
				<add namespace="System.Web.WebPages" />
			</namespaces>
		</pages>

		<caching>
			<outputCacheSettings>
				<outputCacheProfiles>
					<add name="default" duration="3600" varyByParam="*" enabled="true" />
				</outputCacheProfiles>
			</outputCacheSettings>
		</caching>
	</system.web>

	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<httpErrors errorMode="Detailed" />

		<modules>
			<!-- Disable unnecessary modules, especially ones written in .NET. -->
			<!--<remove name="UrlRoutingModule-4.0" />-->
			<remove name="ScriptModule-4.0" />
			<remove name="OutputCache" />
			<remove name="Session" />
			<remove name="WindowsAuthentication" />
			<remove name="FormsAuthentication" />
			<remove name="DefaultAuthentication" />
			<remove name="RoleManager" />
			<remove name="UrlAuthorization" />
			<remove name="FileAuthorization" />
			<remove name="AnonymousIdentification" />
			<remove name="Profile" />
			<remove name="UrlMappingsModule" />

			<!-- We'd like to disable these modules as well, but they're marked `lockitem` in
                 %windir%\system32\inetsrv\config\applicationHost.config. If we could disable
                 them, we'd probably gain 2-3% in performance. -->
			<!--
         <remove name="RewriteModule" />
         <remove name="CgiModule" />
         <remove name="FastCgiModule" />
         -->
		</modules>

		<handlers>
			<remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
			<remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
			<add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
		</handlers>

		<urlCompression doStaticCompression="false" doDynamicCompression="false" dynamicCompressionBeforeCache="true" />
		<staticContent>
			<clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="7.00:00:00" />
		</staticContent>
	</system.webServer>

	<system.runtime.caching>
		<memoryCache>
			<namedCaches>
				<add name="default" cacheMemoryLimitMegabytes="0" physicalMemoryLimitPercentage="0" pollingInterval="00:02:00" />
			</namedCaches>
		</memoryCache>
	</system.runtime.caching>
</configuration>
