<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<connectionStrings>
		<add name="MySQL" connectionString="server=localhost; user id=benchmarkdbuser; password=benchmarkdbpass; database=hello_world" providerName="MySQL" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
		<add name="PostgreSQL" connectionString="server=localhost; user id=benchmarkdbuser; password=benchmarkdbpass; database=hello_world" providerName="PostgreSQL" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
		<add name="PostgreSQL_dotConnect" connectionString="server=localhost; user id=benchmarkdbuser; password=benchmarkdbpass; database=hello_world; Unicode=true" providerName="PostgreSQL_dotConnect" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
		<!--<add name="MongoDB" connectionString="mongodb://localhost" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />-->
		<add name="SQLServer" connectionString="server=localhost; user id=benchmarkdbuser; password=B3nchmarkDBPass; database=hello_world; MultipleActiveResultSets=true" providerName="SQLServer" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
	</connectionStrings>

	<system.web>
		<compilation xdt:Transform="RemoveAttributes(debug)" />
	</system.web>
</configuration>