<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <configSections>
    <section name="autofacConfiguration" type="Revenj.Extensibility.Autofac.Configuration.SectionHandler, Revenj.Extensibility" />
  </configSections>
  <appSettings>
    <add key="PluginsPath" value="." />
    <add key="ServerAssembly" value="ServerModel.dll"/>
    <add key="ConnectionString" value="server=localhost;port=5432;database=hello_world;user=benchmarkdbuser;password=benchmarkdbpass" />
    <add key="HttpAddress_local" value="http://0.0.0.0:8080/" />
    <add key="Revenj.HttpServer" value="Socket"/>
    <add key="CustomAuth" value="Revenj.Http.NoAuth"/>
    <add key="Revenj.Notifications" value="disabled"/>
  </appSettings>
  <system.serviceModel>
    <serviceHostingEnvironment>
      <serviceActivations>
        <add relativeAddress="bench" service="Revenj.Bench.RestService, Revenj.Bench" />
      </serviceActivations>
    </serviceHostingEnvironment>
  </system.serviceModel>
  <autofacConfiguration>
    <modules>
      <module type="Revenj.Wcf.StandardModule, Revenj.Wcf" />
    </modules>
    <components>
      <component type="Revenj.Http.NoAuth, Revenj.Http" service="Revenj.Security.IPermissionManager, Revenj.Security.Interface" />
    </components>
  </autofacConfiguration>
</configuration>
