<?xml version="1.0" encoding="UTF-8"?>
<!--
	This file provides out-of-the-box support for Microsoft IIS 7 or higher.
	If you are using another webserver you can safely remove it. Do note that
	the Rewrite Module (http://www.iis.net/download/urlrewrite) is not (always)
	installed by default, but required for the proper working of the rules
	defined in the <rewrite> section of <system.webServer>.
-->
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <clear />
                <rule name="Set Webroot">
                    <match url="(.*)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                    </conditions>
                    <action type="Rewrite" url="app/webroot/{R:1}" />
                </rule>
                <rule name="Lithium Redirect">
                    <match url="app/webroot/(.*)" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                        <add input="{REQUEST_FILENAME}" pattern="favicon.ico$" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="app/webroot/index.php?url={R:1}" />
                </rule>
            </rules>
            <rewriteMaps>
                <rewriteMap name="Rewrite To Webroot from Root" />
            </rewriteMaps>
        </rewrite>
    </system.webServer>
</configuration>