<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>404 NOT FOUND</title>
  <style type="text/css">
html {
  height: 100%;
}

body {
  height: 100%;
  font-family: 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
  background-color: #DFDFDF;
}

#main {
  display: table;
  width: 100%;
  height: 100%;
}

.error {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.error .code {
  font-size: 1600%;
  font-weight: bold;
}

.error .message {
  font-size: 400%;
}
  </style>
</head>
<body>
  <div id="main">
    <div class="error">
      <div class="code">404</div>
      <div class="message">NOT FOUND</div>
    </div>
  </div>
</body>
</html>
