asyncpg==0.26.0
bareasgi==4.3.0
bareasgi-jinja2==4.0.1
bareutils==4.0.2
h11==0.14.0
h2==4.1.0
hpack==4.0.0
hypercorn==0.14.3
hyperframe==6.0.1
jetblack-asgi-typing==0.4.0
Jinja2==3.1.2
MarkupSafe==2.1.1
orjson==3.8.0
priority==2.0.0
toml==0.10.2
uvloop==0.17.0
wsproto==1.2.0
