<!DOCTYPE html>
<html>
<head>
  <title>404 Page Not Found</title>
  <meta name="title" content="404 Page Not Found">

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
<style>
body {
  width: 100%;
  font-family: 'arial';
  background: #fff;
}
* {
  margin:0 auto;
}
.container {
  width: 100%;
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .text h1 {
  font-size: 20px;
  color: #111;
}

.container .text span {
  font-size: 20px;
  font-weight: normal;
  margin: auto 5px;
}
</style>
</head>
<body>
  <div class="container">
    <div class="text">
      <h1>404 <span>Page Not Found</span></h1>
    </div>
  </div>
</body>
</html>
