<?xml version="1.0" encoding="UTF-8"?>
<configuration>

 	<include resource="org/springframework/boot/logging/logback/base.xml"/>	

    <logger name="org.apache" level="ERROR"/>
    <logger name="org.springframework.boot.autoconfigure" level="INFO"/>
    <logger name="org.springframework.boot.actuate.endpoint.mvc.EndpointHandlerMapping" level="INFO"/>
    <logger name="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping" level="INFO"/>
    <logger name="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping" level="INFO"/>

    <root level="WARN">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
