[package]
name = "warp-rust"
version = "0.1.0"
authors = ["Konrad Borowski <konrad@borowski.pw>"]
edition = "2018"

[dependencies]
futures = "0.3.1"
rand = "0.7.3"
serde = { version = "1.0.103", features = ["derive"] }
tokio = { version = "0.2.21", features = ["macros", "rt-threaded"] }
tokio-postgres = "0.5.1"
warp = "0.2.3"
yarte = "0.12.2"
