[package]
name = "warp-rust"
version = "0.1.0"
authors = ["Konrad Borowski <konrad@borowski.pw>"]
edition = "2018"

[dependencies]
futures = "0.3.12"
rand = { version = "0.8.2", features = ["small_rng"] }
serde = { version = "1.0.120", features = ["derive"] }
tokio = { version = "1.0.2", features = ["macros", "rt-multi-thread"] }
tokio-postgres = "0.7.0"
warp = "0.3.0"
yarte = "0.14.1"
