<div class="text-center">
    <h1 class="display-4">TechEmpower ASP.NET Core MVC benchmarks</h1>
    <ul>
        <li><a href="~/plaintext">Plaintext</a></li>
        <li><a href="~/json">Json</a></li>
    </ul>
</div>
