<web-app>
	<servlet>
		<servlet-name>json</servlet-name>
		<servlet-class>dsl.JsonServlet</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>json</servlet-name>
		<url-pattern>/json</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>plaintext</servlet-name>
		<servlet-class>dsl.PlaintextServlet</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>plaintext</servlet-name>
		<url-pattern>/plaintext</url-pattern>
	</servlet-mapping>
</web-app>
