[package]
name = "hyper-techempower"
version = "0.4.0"
authors = [
    "Steve Klabnik <steve@steveklabnik.com>",
    "Alexander Polyakov <plhk@sdf.org>",
    "Sean McArthur <sean@seanmonstar.com>"
]

[dependencies]
futures = "0.1"
hyper = { version = "0.11.24" } #, default-features = false }
num_cpus = "1.2"
serde = "1.0"
serde_json = "1.0"
serde_derive = "1.0"
#tokio = "0.1"
tokio-core = "=0.1.11"
tokio-io = "=0.1.4"
tokio-proto = "0.1"

[profile.release]
opt-level = 3
codegen-units = 1
lto = true
